{% extends "admin/base.html" %}
{% load i18n staticfiles ngwtags %}

{% block title %}{{ title }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "javascript/jquery-ui/css/smoothness/jquery-ui.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "ngw/ngw.css" %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="shortcut icon" type="image/png" href="{% static "ngw/favicon.png" %}">
<script src="{% static "admin/js/core.js" %}" type="text/javascript"></script>
<script src="{% static "admin/js/vendor/jquery/jquery.js" %}" type="text/javascript"></script>
<script src="{% static "admin/js/jquery.init.js" %}" type="text/javascript"></script>
<script type="text/javascript">
		autocompleteurl = "{{request.scheme}}://{{request.get_host}}/contacts/ajaxsearch/autocomplete";
		//$=django.jQuery;
</script>
<script src="{% static "javascript/jquery/jquery.js" %}" type="text/javascript"></script>
<script src="{% static "javascript/jquery-ui/jquery-ui.js" %}" type="text/javascript"></script>
<script src="/jsi18n/" type="text/javascript"></script>
<script src="{% static "ngw/ngw.js" %}" type="text/javascript"></script>
{% endblock %}

{% block blockbots %}
{{ block.super }}
{% include 'session_security/all.html' %}
{% endblock %}

{% block branding %}
<h1 id="site-name">{{ banner|safe }}</h1>
{% endblock %}

{% block userlinks %}
<a href="/contacts/{{user.id}}/">{% trans 'Profile' %}</a> /
<a href="/logout">{% trans 'Log out' %}</a>
{% with can_search_names=user.can_search_names can_search_logins=user.can_search_logins %}
{% if can_search_names or can_search_logins %}
<br>
<div id=header_search>
    <form id=header_quicksearch action="/contacts/"
        onsubmit="v=escape_quote(document.forms['header_quicksearch']['disp_filter'].value); l = '/contacts/?q='+{% if can_search_names and can_search_logins %}'or(nfilter(startswith,'+v+'),ffilter(1,eq,'+v+'))';{% elif can_search_names %}'nfilter(startswith,'+v+')';{% else %}'ffilter(1,eq,'+v+')'{% endif %}; document.location=l; return false;">
        <input type=hidden name=filter>
        <input id="qsearch" name=disp_filter value="{% trans "Quick contact search" %}" size=30 class=quicksearch
            onclick="if (this.value=='{% trans "Quick contact search" %}') { this.value=''; }"
            onblur="if (this.value=='') { this.value='{% trans "Quick contact search" %}'; } $('#header_quicksearch').removeAttr('data-dirty')"
        >
    </form>
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block nav-global %}
{% if user.is_authenticated %}
<div id=extratabs>
    {% for links in extra_header_links %}
    <a class="extra" href="{{ links.1 }}">{{ links.0 }}</a>
    {% endfor %}
</div>
<div id=tabs>
    <a href="/" {{ nav|nav_is_active:""}}>{% trans "news" %}</a>
    <a href="/contactgroups/" {{ nav|nav_is_active:"contactgroups"}}>{% trans "groups" %}</a>
    <a href="/events/calendar/{% if cg.date %}#{{ cg.date.year}}-{{ cg.date.month }}{% endif %}" {{ nav|nav_is_active:"events"}}>{% trans "events" %}</a>
    {% if user.is_admin %}
    <a href="/logs" {{ nav|nav_is_active:"logs"}}>{% trans "logs" %}</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{% if nav %}
<div class=breadcrumbs>
{% for urlfragment, navname in nav.components %}
    {% if forloop.counter0 %} › {% endif %}
    {% if not forloop.last %}
        <a href="{% for urlfragment_sub, navname_sub in nav.components %}{% if forloop.counter0 <= forloop.parentloop.counter0 %}{{urlfragment_sub}}/{% endif %}{% endfor %}">
    {% endif %}
    {{ navname }}
    {% if not forloop.last %}
        </a>
    {% endif %}
{% endfor %}
</div>
{% endif %}
{% block submenu %}{% endblock %}
{% endblock %}

{% block footer %}
{% if user.is_authenticated %}
<div id=footer>
{% if contactcount %} {{ contactcount }} contact{{contactcount|pluralize}} • {% endif %}
Powered by <a href='http://www.debian.org/' target=_blank noreferrer>Debian/GNU Linux</a>
</div>
{% endif %}
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
