<VirtualHost *:80>
    ServerName ngw
    Redirect permanent / https://ngw
</VirtualHost>

WSGIPythonPath /usr/lib

<VirtualHost *:443>
    ServerName ngw

    SSLEngine on
    SSLCertificateFile /etc/ssl/certs/ngw.crt
    SSLCertificateKeyFile /etc/ssl/private/ngw.key
    #SSLCertificateChainFile ...
    #SSLCACertificateFile ...
 
    AddDefaultCharset UTF-8
    ServerSignature Off
    #CustomLog "/dev/null" " "
    ErrorLog "/usr/lib/ngw/apache_error.log"

    Alias /static/admin/  /usr/share/pyshared/django/contrib/admin/static/admin/
    Alias /static/session_security/  /usr/lib/python2.7/dist-packages/session_security/static/session_security/
    Alias /static/ /usr/lib/ngw/static/
    Alias /media/ /usr/lib/ngw/media/

    <Directory "/usr/lib/ngw/media">
        AllowOverride AuthConfig
    </Directory>
    <Location /media/g/>
        DirectoryIndex index.html index.php /static/smartindex.php
    </Location>

    <Location "/">
        AuthType Basic
        AuthName "ngw"
        AuthBasicProvider wsgi
        WSGIAuthUserScript /usr/lib/ngw/core/wsgi.py
        WSGIAuthGroupScript /usr/lib/ngw/core/wsgi.py
    </Location>

    # We want HTTP_AUTHORIZATION to go to python for now:
    WSGIPassAuthorization On

    WSGIScriptAliasMatch ^(/login)$               /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/logout)$              /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/session_security/.*)$ /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/)$                    /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/jsi18n/.*)$           /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/logs)$                /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/contacts/.*)$         /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/contactgroups/.*)$    /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/events/.*)$           /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/contactfields/.*)$    /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/choicegroups/.*)$     /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/pks/.*)$              /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/test)$                /usr/lib/ngw/core/wsgi.py$1
    #WSGIScriptAliasMatch ^/hook_change_password$ /usr/lib/ngw/core/wsgi.py/hook_change_password
    #<LocationMatch "^/hook_change_password$">
    #    require valid-user
    #</LocationMatch>

    # We want the mime-type icons to be available without extensions
    <Location "/icons">
        Options +MultiViews
    </Location>

</VirtualHost>

