<VirtualHost *:80>
    ServerName ngw
    Redirect permanent / https://ngw
</VirtualHost>

WSGIPythonPath /usr/lib

<VirtualHost *:443>
    ServerName ngw

    SSLEngine on
    SSLCertificateFile /etc/ssl/certs/ngw.crt
    SSLCertificateKeyFile /etc/ssl/private/ngw.key
    #SSLCertificateChainFile ...
    #SSLCACertificateFile ...
 
    AddDefaultCharset UTF-8
    ServerSignature Off
    #CustomLog "/dev/null" " "

    Alias /static/ /usr/lib/ngw/static/

    <Location "/">
        AuthType Basic
        AuthName "ngw"
        AuthBasicProvider wsgi
        WSGIAuthUserScript /usr/lib/ngw/core/wsgi.py
        WSGIAuthGroupScript /usr/lib/ngw/core/wsgi.py
    </Location>

    # We want HTTP_AUTHORIZATION to go to python for now:
    WSGIPassAuthorization On

    # Use HTTP Strict Transport Security to force client to use secure connections only
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"

    WSGIScriptAliasMatch ^(/login)$                /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/logout)$               /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/session_security/.*)$  /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/)$                     /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/jsi18n/.*)$            /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/logs)$                 /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/contacts/.*)$          /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/contactgroups/.*)$     /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/events/.*)$            /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/media/.*)$             /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/pks/.*)$               /usr/lib/ngw/core/wsgi.py$1
    WSGIScriptAliasMatch ^(/matrix/.*)$            /usr/lib/ngw/core/wsgi.py$1
    #WSGIScriptAliasMatch ^(/test)$                 /usr/lib/ngw/core/wsgi.py$1
    #WSGIScriptAliasMatch ^(/hook_change_password)$ /usr/lib/ngw/core/wsgi.py$1
    #<LocationMatch "^/hook_change_password$">
    #    require valid-user
    #</LocationMatch>

    # We want the mime-type icons to be available without extensions
    <Location "/icons">
        Options +MultiViews
    </Location>

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
