{% extends "admin/base_site.html" %}
{% load i18n staticfiles ngwtags %}

{% block content %}
<div id="content-main">

<table>
<tr>
	<th>{% trans "Room Id" %}id</th>
	<th>{% trans "Group" %}</th>
	<th>{% trans "Members" %}</th>
	<th>{% trans "Local members" %}</th>
	<th>{% trans "Name" %}</th>
	<th>{% trans "Topic" %}</th>
	<th>{% trans "Main address" %}</th>
	<th>{% trans "Version" %}</th>
	<th>{% trans "Creator" %}</th>
	<th>{% trans "Encrypted" %}</th>
	<th>{% trans "Federatable" %}</th>
	<th>{% trans "Public" %}</th>
	<th>{% trans "Join rules" %}</th>
	<th>{% trans "Guest access" %}</th>
	<th>{% trans "History visibility" %}</th>
</tr>
{% for room in rooms %}
<tr>
<td>
	<a href="/matrix/room/{{ room.room_id }}">{{ room.room_id }}</a>
</td>
<td>	{% if room.contact_group %}
	<a href="{{ room.contact_group.get_absolute_url }}">{{ room.contact_group }}</a>
	{% endif %}
</td>
<td>
	{{ room.joined_members }}
</td>
<td>
	{{ room.joined_local_members }}
</td>
<td>
	{{ room.name|default_if_none:'' }}
</td>
<td>
	{{ room.topic|default_if_none:'' }}
</td>
<td>
	{{ room.canonical_alias|default_if_none:'' }}
</td>
<td>
	{{ room.version }}
</td>
<td>
	{{ room.creator }}
</td>
<td>
	{% if room.encryption %}
	<abbr title="{{ room.encryption }}">{% trans "Yes" %}</abbr>
	{% endif %}
</td>
<td>
	{% if room.federatable %}
	{% trans "Yes" %}
	{% else %}
	{% trans "No" %}
	{% endif %}
</td>
<td>
	{% if room.public %}
	{% trans "Yes" %}
	{% else %}
	{% trans "No" %}
	{% endif %}
</td>
<td>
	{{ room.join_rules }}
</td>
<td>
	{% if room.guest_access == "can_join" %}
	{% trans "Yes" %}
	{% elif room.guest_access is None or room.guest_access == "forbidden" %}
	{% trans "No" %}
	{% else %}
	ERRROR: {{ room.guest_access }}
	{% endif %}
</td>
<td>
	{{ room.history_visibility|default_if_none:'' }}
</td>
{% comment %}
<td>
	<pre>
	{{ room.pretty }}
	<pre>
</td>
{% endcomment %}
</tr>
{% endfor %}
</table>

</div>
{% endblock %}
