#branding h1 {
    margin-bottom: 0;
}
#header .quicksearch {
	border-color:#417690;
	background-image:url(../admin/img/icon_searchbox.png);
	background-repeat:no-repeat;
	padding-left:20px;
}

#header #tabs {
    clear: left;
    float: left;
    white-space:nowrap;
}

#header #tabs a[href] {
    display: inline-block;
    background: #909090;
    color: black;
    border: 1px solid #909090;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    margin: 0.7ex -1ex 0ex 3ex;
    padding: 0.5ex 1ex 0.5ex 1ex;
    font-weight: bold;
    font-size: 120%;
}

#header #tabs a[href]:hover {
    background: #eee;
    margin-bottom: -1px;
    border: 1px solid white;
    border-bottom: 1px solid #eee;
}
#header #tabs a[href]#active {
    background: #eee;
    margin-bottom: -1px;
    border: 1px solid white;
    border-bottom: 1px solid #eee;
}

div.breadcrumbs {
    border-top: none;
}

#submenucontainer {
    display: block;
    width: auto;
    text-align: center;
}

.submenuitem {
    display: inline-block;
    padding-left: 3ex;
    padding-right: 3ex;
    background: #f0f0f0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    margin-top: -1px;
}

a .submenuitem:hover, .activesubmenuitem {
    font-weight: bold;
    border:1px solid black;
    background: white;
}


#footer {
    text-align: center;
    background: #417690;
    border-top: 1px solid #909090;
    background: #417690;
    color: #ffc;
    font-size: 80%;
    padding: 0;
}

#footer a:link, #footer a:visited {
    color: white;
}

#footer a:hover {
    text-decoration: underline;
}

/* We want links in submit-row to look like submit buttons */
.submit-row a.button:link, .submit-row a.button:visited {
    display: inline-block;
    background: white url(../admin/img/nav-bg.gif) bottom repeat-x;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    color: black;
    margin: 0 0 0 5px;
    font-size: 11px;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
}
.submit-row a.button:hover {
    text-decoration: none;
}
.submit-row a.button.default:link, .submit-row a.button.default:visited {
    border: 2px solid #5b80b2;
    background: #7CA0C7 url(../admin/img/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: white;
}


h1.boxheader {
    margin-bottom: 0px;
}
div.box {
    border: 1px solid #999;
    padding: 1ex;
    margin-bottom: 2ex;
}

div.fullpagebox {
    border: 1px solid #999;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10ex;
    margin-bottom:4ex;
    border-radius:1ex;
    padding:3ex;
}



.padded {
    padding: 1ex;
    bbackground: yellow;
}


ul.onelinechoices {
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
ul.onelinechoices li {
    display: inline-block;
}

/* Hack for admin multiple select widget */
.selector h2 {
    margin-bottom: 0px;
}

/* Inline membership edition */
/* credit: http://www.csslab.cl/2008/01/30/ventana-modal-solo-con-css/ */
.membership_edit_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index:1001;
    opacity:.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
}

.membership_edit_modal {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    padding: 2ex;
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    text-align: center;
}
/*.membership_edit_modal h3 {
    text-align: left;
}*/
.membership_edit_modal input[type=radio] {
    margin-left: 2ex;
}
