{% load i18n staticfiles ngwtags %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<title>{{ title|safe }}</title>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "ngw/ngw.css" %}">
{% block extrastyle %}{% endblock %}
<script src="{% static "admin/js/core.js" %}" type="text/javascript"></script>
<script src="{% static "admin/js/admin/RelatedObjectLookups.js" %}" type="text/javascript"></script>
<script src="{% static "admin/js/jquery.js" %}" type="text/javascript"></script>
<script src="{% static "admin/js/jquery.init.js" %}" type="text/javascript"></script>
<script src="/jsi18n/" type="text/javascript"></script>
<script src="{% static "admin/js/SelectBox.js" %}" type="text/javascript"></script>
<script src="{% static "admin/js/SelectFilter2.js" %}" type="text/javascript"></script>
<script src="{% static "ngw/ngw.js" %}" type="text/javascript"></script>
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% include 'session_security/all.html' %}


<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="upperheader">
            <div id=branding>{{ banner|safe }}</div>
            {% if user.is_authenticated %}
            <div id="user-tools">
                {% trans "Welcome" %} <a href="{{user.get_absolute_url}}">{{ user }}</a> • <a href="/logout">{% trans "Logout" %}</a>
                <br>
                {% if user.can_see_all_contacts %}
                <div id=header_search>
                    <form id=header_quicksearch action="/contactgroups/1/members/"
                        onsubmit="v=escape_quote(document.forms['header_quicksearch']['disp_filter'].value); document.forms['header_quicksearch']['filter'].value='or(nfilter(startswith,'+v+'),ffilter(1,eq,'+v+'))'; return true;">
                        <input type=hidden name=filter>
                        <input name=disp_filter value="{% trans "Quick contact search" %}" size=30 class=quicksearch
                            onclick="if (this.value=='{% trans "Quick contact search" %}') { this.value=''; }"
                            onblur="if (this.value=='') { this.value='{% trans "Quick contact search" %}'; }"
                        >
                    </form>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if nav %}
            <div id=tabs style="clear:both;">
                <a href="/" {{ nav|nav_is_active:""}}>{% trans "news" %}</a>
                <a href="/contactgroups/" {{ nav|nav_is_active:"contactgroups"}}>{% trans "groups" %}</a>
                <a href="/events/" {{ nav|nav_is_active:"events"}}>{% trans "events" %}</a>
                {% if user.is_admin %}
                <a href="/contactfields/" {{ nav|nav_is_active:"contactfields"}}>{% trans "fields" %}</a>
                <a href="/choicegroups/" {{ nav|nav_is_active:"choicegroups"}}>{% trans "choices" %}</a>
                <a href="/logs?_order=-0" {{ nav|nav_is_active:"logs"}}>{% trans "logs" %}</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% block breadcrumbs %}
        {% if nav %}
        <div class=breadcrumbs>
        {% for urlfragment, navname in nav.components %}
            {% if forloop.counter0 %} › {% endif %}
            {% if not forloop.last %}
                <a href="{% for urlfragment_sub, navname_sub in nav.components %}{% if forloop.counter0 <= forloop.parentloop.counter0 %}{{urlfragment_sub}}/{% endif %}{% endfor %}">
            {% endif %}
            {{ navname }}
            {% if not forloop.last %}
                </a>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endblock %}
        {% block submenu %}{% endblock %}
    </div>
    <!-- END Header -->
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id=content class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% if not is_popup %}
    {% block footer %}
    <div id=footer>
    {% if contactcount %} {{ contactcount }} contact{{contactcount|pluralize}} • {% endif %}
    Powered by <a href='http://www.debian.org/' target=_blank noreferrer>Debian/GNU Linux</a>
    </div>
    {% endblock %}
    {% endif %}

</div>
<!-- END Container -->
{# vim: set et ts=4 ft=htmldjango: #}
