{% extends "edit.html" %}
{% load i18n staticfiles %}

{% block content %}
{% if inherited_info %}
<div class="padded">{{ inherited_info }}</div>
{% endif %}

{{ block.super }}
{% endblock %}

{% block submitbar %}
<div class="submit-row">
    <input type=submit value="{% trans "Save" %}" class="default">
    <p class="deletelink-box"><a href="{{object.get_absolute_url}}remove" class="deletelink">{% trans "Remove from group" %}</a></p>
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
