{% extends "admin/base_site.html" %}
{% load i18n ngwtags %}

{% block extrahead %}{{ block.super }}
<style>
.field_image_container {
    width:200px;
    height:200px;
}
</style>
<script>
var imagefile_size_small = '200px';
var imagefile_size_big = '500px';
</script>
{% endblock %}

{% block submenu %}
{% if cg %}
{% include "group_submenu.html" %}
{% endif %}
{% endblock %}

{% block content %}
<div id="content-main">
<div class=module>
    <table class=objlist>
    <tr><td>

    {% for key,value in rows %}
            <div style="float:left; margin-right:1ex;">
                {{ key }}:
            </div>
            <div style="display:inline-block;">
                <b>{{ value }}</b>
            </div>
            <br style="clear:both;">
    {% endfor %}
    </table>


    <h2>{% trans "Groups" %}</h2>

    {% for g in contact.get_directgroups_member|group_is_not_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Member of groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        {% if not g.date %}
            {% for sg in g.get_supergroups|group_visible_by:request.user.id %}
            {% if forloop.first %}( {% trans "implies" %} {%else%}, {% endif %}
            {{ sg|group_with_link }}
            {% if forloop.last %}){% endif %}
            {% endfor %}
        {% endif %}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_invited|group_is_not_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Invited in groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        {% if not g.date %}
            {% for sg in g.get_supergroups|group_visible_by:request.user.id %}
            {% if forloop.first %}( {% trans "implies" %} {%else%}, {% endif %}
            {{ sg|group_with_link }}
            {% if forloop.last %}){% endif %}
            {% endfor %}
        {% endif %}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_declined|group_is_not_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Declined invitation in groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_canceled|group_is_not_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Membership canceled in groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_operator|group_is_not_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Operator of groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_viewer|group_is_not_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Viewer of groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}


    <h2>{% trans "Events" %}</h2>

    {% for g in contact.get_directgroups_member|group_is_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Member of groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        {% if not g.date %}
            {% for sg in g.get_supergroups|group_visible_by:request.user.id %}
            {% if forloop.first %}( {% trans "implies" %} {%else%}, {% endif %}
            {{ sg|group_with_link }}
            {% if forloop.last %}){% endif %}
            {% endfor %}
        {% endif %}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_invited|group_is_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Invited in groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        {% if not g.date %}
            {% for sg in g.get_supergroups|group_visible_by:request.user.id %}
            {% if forloop.first %}( {% trans "implies" %} {%else%}, {% endif %}
            {{ sg|group_with_link }}
            {% if forloop.last %}){% endif %}
            {% endfor %}
        {% endif %}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_declined|group_is_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Declined invitation in groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_canceled|group_is_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Membership canceled in groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_operator|group_is_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Operator of groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_viewer|group_is_event|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Viewer of groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}
</div>

<div class="submit-row">
  <a class="button default" href="edit">{% trans "Edit" %}</a>
  
  <a class=button href="/contacts/add_to_group?ids={{contact.id}}">{% trans "Add to a group" %}</a>
  
  {% if user.is_admin %}
  <a class=button href="vcard">{% trans "VCard" %}</a>
  {# <a class=button href="http://maps.google.com/maps?q={{ contact.get_addr_semicol }}">Google map</a> #}
  {% endif %}
  {% if contact.get_username %}
    {% if 'F' in group_user_perms or user.id == contact.id %}
        <a class=button href="pass">{% trans "Change password" %}</a>
    {% endif %}
    {% if 'F' in group_user_ngw_perms or user.id == contact.id %}
        <a class=button href="{{contact.get_absolute_url}}filters/">{% trans "Filters" %}</a>
        <a class=button href="{{contact.get_absolute_url}}default_group">{% trans "Default group" %}</a>
    {% endif %}
  {% endif %}
</div>

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
