{% extends "base.html" %}
{% load i18n ngwtags %}

{% block submenu %}
{% if contact_group %}
{% include "group_submenu.html" %}
{% endif %}
{% endblock %}

{% block content %}
<div id="content-main">
<div class=module>
    <table class=objlist>
    <tr><td>
    
    {% for key,value in rows %}
        {{ key }}: <b>{{ value }}</b><br>
    {% endfor %}
    {% for g in contact.get_directgroups_member|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Member of groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        {% for sg in g.get_supergroups|group_visible_by:request.user.id %}
        {% if forloop.first %}( {% trans "implies" %} {%else%}, {% endif %}
        {{ sg|group_with_link }}
        {% if forloop.last %}){% endif %}
        {% endfor %}
        <br>
    {% endfor %}
    {% for g in contact.get_directgroups_invited|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Invited in groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        {% for sg in g.get_supergroups|group_visible_by:request.user.id %}
        {% if forloop.first %}( {% trans "implies" %} {%else%}, {% endif %}
        {{ sg|group_with_link }}
        {% if forloop.last %}){% endif %}
        {% endfor %}
        <br>
    {% endfor %}
    {% for g in contact.get_directgroups_declinedinvitation|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Declined invitation in groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_operator|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Operator of groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}

    {% for g in contact.get_directgroups_viewer|group_visible_by:request.user.id %}
        {% if forloop.first %}{% trans "Viewer of groups" %}:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;{{ g|group_with_link }}
        <br>
    {% endfor %}

    </table>
</div>

<div class="submit-row">
  <a class="button default" href="edit">{% trans "Edit" %}</a>
  {% if user.is_admin %}
  <a class=button href="vcard">{% trans "VCard" %}</a>
  {# <a class=button href="http://maps.google.com/maps?q={{ contact.get_addr_semicol }}">Google map</a> #}
  {% endif %}
  {% if contact.get_login %}
    {% if group_user_perms.F or user.id = contact.id %}
        <a class=button href="pass">{% trans "Change password" %}</a>
    {% endif %}
    {% if group_user_ngw_perms.F or user.id = contact.id %}
        <a class=button href="{{contact.get_absolute_url}}filters/">{% trans "Filters" %}</a>
        <a class=button href="{{contact.get_absolute_url}}default_group">{% trans "Default group" %}</a>
    {% endif %}
  {% endif %}
</div>

</div>
{% endblock %}
