{% extends "list.html" %}
{% load i18n staticfiles %}

{% block extrahead %}{{ block.super }}
<style>
.membershipextra {
    position:absolute;
    display:none;
    background-color: white;
    border:1px solid black;
    padding: 1ex;
    right:0px;
    z-index: 2;
}
</style>

<script>
shown_membership_extrainfo_gcid=null;
function show_membership_extrainfo(gcid) {
    if (shown_membership_extrainfo_gcid)
        document.getElementById('membership_'+shown_membership_extrainfo_gcid).style.display='none';
    if (gcid)
        document.getElementById('membership_'+gcid).style.display='block';
    shown_membership_extrainfo_gcid = gcid;
}



BASE_ID = 'filter_breadcrumb_';
var partial_filter = [];
var active_breadcrumb_ajax = null;


function add_loading() {
    $('#add_filter').append('<span id=' + BASE_ID + '_loading> {% filter escapejs %}{% trans "loading" %}{% endfilter %}...</span>');
}

function clear_loading() {
    // remove all the 'loading...':
    $('#' + BASE_ID + '_loading').each(function() {
        $(this).remove();
    });
}

function add_filter_breadcrumb(data) {
    /*
    data is an object that can have 2 properties:
    - submit_prefix: such as "ffilter(10,mchas"
    - params: such as [ string, [ {id:'fr', text:'France'}, {id:'uk', text:'United Kingdom'} ]]
              or { fields: 'Champs' }

    If submit_prefix is set:
    - Each item in parameter will yield a widget, with array being converted in select
    - A submit button will appear, and as many widgets as needed for submission

    If submit_prefix is empty:
    - params should contain a single array
    - the select widget will use ajax to fetch next item
    */

    clear_loading();

    id = partial_filter.length;
    params = data.params
    for (iparam in data.params) {
        param = data.params[iparam];
        html = '';
        if (typeof(param) == 'object') {
            html += "<select id='" + BASE_ID + id + "'";
            if (!data.submit_prefix)
                html += " onchange='filter_breadcrumb_changed(this);' onkeyup='filter_breadcrumb_changed(this);'";
            html += " class=string>";
            //html += "<option value=''>{% trans "Select" %}</option>";
            for (i in param) {
                choice = param[i];
                html += "<option value=" + escape_quote(choice.id) + ">" + choice.text + "</option>";
            }
            html += "</select>";
        } else if (param == 'string' || param == 'number') {
            html += "<input id='" + BASE_ID + id + "' class=" + param + ">";
        } else {
            html += "ERROR: Unsupported parameter type " + param;
        }

        $('#add_filter').append(' '+html);

        if (typeof(param) == 'object' && !data.submit_prefix) {
            elem = document.getElementById(BASE_ID + id);
            filter_breadcrumb_changed(elem);
        }
        id++;

    if (data.submit_prefix) {
        submit_prefix = data.submit_prefix.replace(/\\/g, '\\\\').replace(/"/g, '\\"').replace(/'/g, "\\'").replace(/&/g, '&amp;');
        html = "<input id='" + BASE_ID + id + "' type=submit value='{% filter escapejs %}{% trans "Add" %}{% endfilter %}' onclick=\"filter_breadcrumbs_submit(\'" + submit_prefix + "\', " + partial_filter.length + ", " + params.length + ");\">";
        $('#add_filter').append(' '+html);
        id++;

        html = "<input id='" + BASE_ID + id + "' type=reset value='{% filter escapejs %}{% trans "Cancel" %}{% endfilter %}' onclick='cancel_advanced_search();'>";
        $('#add_filter').append(' '+html);
    }
}

function filter_breadcrumb_changed(select) {
    /* Get index in partial_filter */
    iid = select.id;
    iid = iid.substring(BASE_ID.length);
    iid = parseInt(iid);

    /* Remove all the html after the activated input */
    for (i=iid+1; i<8; ++i) {
        itemAfter = $('#' + BASE_ID + i);
        if (itemAfter)
            itemAfter.remove();
    }

    /* Remove the partial_filter items after the activated input */
    while (partial_filter.length > iid)
        partial_filter.pop();

    val = $('#'+select.id).val();
    if (!val)
        return; // "please select" was selected: ignore it
    //alert('val:' + val);

    partial_filter.push(val);
    //alert('partial_filter:' + partial_filter);

    url = '/contacts/ajaxsearch'
    for (i in partial_filter) {
        urlfragment = partial_filter[i];
        url += '/' + urlfragment;
    }
    //alert('url: ' + url);

    clear_loading();
    add_loading();

    if (active_breadcrumb_ajax) {
        active_breadcrumb_ajax.abort();
        active_breadcrumb_ajax = null;
    }
    active_breadcrumb_ajax = $.ajax({
        url: url,
        success: function(data) {
            active_breadcrumb_ajax = null;
            add_filter_breadcrumb(data);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            if (textStatus == 'abort')
                return;
            if (textStatus == 'OK')
                return; // This is a hack. We get that when we leave the page while ajax is running
            msg = "{% filter escapejs %}{% trans "Error while fetching "%}{% endfilter %} " + url + ":\n";
            msg += textStatus + ': ' + errorThrown;
            alert(msg);
        },
    });
}

function filter_breadcrumbs_submit(submit_prefix, first_param, nb_param) {
    newfilterstr = submit_prefix; // + " + " + first_param + " + " + nb_param;
    for (i=first_param; i<first_param+nb_param; ++i) {
        input = $('#' + BASE_ID + i);
        param = input.val();
        if (input.hasClass('string'))
            param = escape_quote(param);
        newfilterstr += ',';
        newfilterstr += param;
    }
    newfilterstr += ')';

    {% if filter %}
    operator = $('#' + BASE_ID + 'combine').val();
    newfilterstr = operator + "({% filter escapejs %}{{ filter|safe }}{% endfilter %}," + newfilterstr + ')';
    {% endif %}
    //alert(newfilterstr);
    $('#mainform #filter').val(newfilterstr);
    $('#mainform').submit();
}

/* Function called on click on "Advanced search" or "Add a condition" */
function advanced_search() {
    $('#advanced_search').show();
    $('#search_submitrow').hide();
    $('#basic_search').hide();
}

function cancel_advanced_search() {
    $('#advanced_search').hide();
    if ($('#mainform #filter').val())
        $('#search_submitrow').show();
    else
        $('#basic_search').show();
}

/* Function called on click on "Reset Filter" */
function reset_filter() {
    $('#mainform #filter').val('');
    $('#mainform').submit();
}

/* Function called on click on "Save Filter" */
function save_filter() {
    filter = $('#mainform #filter').val();
    document.location = '{{user.get_absolute_url}}filters/add?' + $.param({filterstr: filter});
}

/* Function called on clic on "Select displayed columns" */
function show_column_selection() {
    $('#select_fields_title').show();
    $('#select_fields').show();
    $('#submitbar').hide();
    $('#changelist').hide();
}

/* Function called on column selection */
function submit_fields() {
    var sel = document.forms['field_selection_widget'].selected_fields;
    var new_fields='';
    for (i=0; i<sel.options.length; i++) {
        if (new_fields!='')
            new_fields+=','
        new_fields+=sel.options[i].value;
    }
    document.getElementById('fields').value = new_fields;
    if (document.forms['field_selection_widget'].savecolumns.checked) {
        p = document.getElementById('mainform');
        savecolumns = quickElement('input', p, '', 'type', 'hidden', 'name', 'savecolumns', 'value', '1');
    }
    document.forms['mainform'].submit();
}
</script>
{% endblock %}



{% block prequerylist %}
<form id="mainform">
    <div style="text-align:left; display:none;">{% trans "Internal representation of the filter" %}:</div>
    <input type=hidden id=filter name=filter value="{{filter}}">
    <input type=hidden id=fields name=fields value="{{fields}}">
    <input type=hidden id=display name=display value="{{display}}">
</form>

<div id=filterbox class="module padded">
{% block extrafilter %}{% endblock %}
{% if filter %}
    <h1>{% trans "Current filter" %}</h1>
    <div id="curent_filter" class="padded">
    {{filter_html|safe}}
    </div>
{% endif %}

<div id=basic_search {% if filter %}style="display:none;"{% endif %}>
    <form id="quickfilter_displayedform" action="#" onsubmit="javascript:document.forms['mainform'].filter.value='nfilter(startswith,'+escape_quote(document.forms['quickfilter_displayedform'].filter.value)+')'; document.forms['mainform'].submit(); return false;">
        <img src="{% static "admin/img/icon_searchbox.png" %}" alt="Search" style="vertical-align:middle;">
        <input name=filter id=defaultfocus style="width:auto;">
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:advanced_search();">{% trans "Advanced search" %}</a>
    </form>
    {% if not filter %}
    <script>document.forms['quickfilter_displayedform'].filter.focus();</script>
    {% endif %}
</div>

<div id=advanced_search style="display:none;">
    <h1>{% trans "Add condition" %}</h1>
    <div id=add_filter class="padded">
    </div>
</div>

<div id=search_submitrow {% if not filter %}style="display:none;"{% endif %}>
    <a href="javascript:advanced_search();">{% trans "Add condition" %}</a>
    - <a href="javascript:reset_filter();">{% trans "Remove filter" %}</a>
    - <a href="javascript:save_filter();">{% trans "Save filter" %}</a>
</div>
</div>


<script>
/* Initialisation of the "Add filter" div */
{% if filter %}
{
    html = '';
    html += "<select id='" + BASE_ID + "combine'>";
    html += "<option value=and>{% filter escapejs %}{% trans "And" %}{% endfilter %}</option>";
    html += "<option value=or>{% filter escapejs %}{% trans "Or" %}{% endfilter %}</option>";
    html += "</select>";
    $('#add_filter').append(html);
}
{% endif %}
add_filter_breadcrumb({
    'params' : [
    [   /* only one parameter: a choice */
        {id: 'fields', text: "{% filter escapejs %}{% trans "Field" %}{% endfilter %}"},
        {id: 'groups', text: "{% filter escapejs %}{% trans "Group" %}{% endfilter %}"},
        {id: 'events', text: "{% filter escapejs %}{% trans "Event" %}{% endfilter %}"},
        {id: 'custom', text: "{% filter escapejs %}{% trans "Custom" %}{% endfilter %}"},
    ]],
});
</script>

{% endblock %}


{% block presubmitbar %}
<h1 id="select_fields_title" style="display:none;">{% trans "Displayed columns" %}</h1>
<div id="select_fields" class=module style="display:none;">
    {{ field_form.media|safe }}
    <form id=field_selection_widget action="#" onsubmit="submit_fields(); return false;"> {# Form id is needed by SelectFilter widget #}
    <table class=objchange>
        {{fields_form.as_table}}
    </table>

    <div class=submitbar style="text-align:left;">
        <input type=checkbox name=savecolumns id="field_selection_widget_save_default"><label for="field_selection_widget_save_default">{% trans "Save column selection as my default" %}</label><br>
        <input type=submit value="{% trans "Set columns" %}">
    </div>
    </form>
</div>
{% endblock %}


{% block submitbar %}
<div class="submit-row">
  <a class=button href="javascript:show_column_selection();" id=default>{% trans "Select displayed columns" %}</a>
</div>
{% endblock %}
