{% extends "base.html" %}
{% load i18n %}

{% block body %}
    <div class=box>
    {% if filters %}
        {% for f in filters %}
        ‣ <a href="./{{forloop.counter0}}/">{{f}}</a><br>
        {# {{f|get:1|safe}}<br> #}
        {% endfor %}
        </div>
    {% else %}
        {% trans "That user has no custom filter." %}
    {% endif %}

    {% block submitbar %}
    <div id=submitbar>
    <a href="{{ contact.get_absolute_url}}" id=default>Contact details</a>
    </div>
    {% endblock %}
{% endblock %}
