{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
<div class=module>
    {% if filters %}
        {% for f in filters %}
        {% if forloop.first %}<ul>{% endif %}
        <li><a href="./{{forloop.counter0}}/">{{f}}</a><br>
        {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    {% else %}
        {% trans "That user has no custom filter." %}
    {% endif %}
</div>

{% block submitbar %}
<div class=submit-row>
    <a href="{{ contact.get_absolute_url}}" class="button default">Contact details</a>
</div>
{% endblock %}

</div>
{% endblock %}
