{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
<div class="module padded">
	{% blocktrans with objecttype=object.get_class_verbose_name %}You are about to delete {{ objecttype }} {{ object }}. Are you sure ?{% endblocktrans %}
</div>

{% block submitbar %}
<div class=submit-row>
    <form method="post">
    {% csrf_token %}
    <input type=submit value="{% trans "Yes I'm Sure" %}">
    <a href="javascript:history.back()" class="button">{% trans "Cancel" %}</a>
    </form>
</div>
{% endblock %}

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
