{% extends "admin/base_site.html" %}
{% load i18n staticfiles %}

{% block extrahead %}{{ block.super }}
    <!-- begining of form.media -->
    {{form.media|safe}}
    <!-- end of form.media -->
{% endblock %}

{% block bodyclass %}change-form{% endblock %}

{% block content %}
<div id="content-main">
{% block preform %}{% endblock %}

<form {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}name=objchange method=post>
<div class="module aligned">
    {#{{ form.non_field_errors }}#}
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
</div>
    
{% block submitbar %}
<div class="submit-row">
    <input type=submit value="{% trans "Save" %}" class="default" name="_save">
    {% if not id %}<input type=submit value="{% trans "Save and add another" %}" name="_addanother">{% endif %}
    <input type=submit value="{% trans "Save and continue editing" %}" name="_continue">
    {% if id %}
     <p class="deletelink-box"><a href="delete" class="deletelink">{% trans "Delete" %}</a></p>
    {% endif %}
</div>
{% endblock %}
    
</form>
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
