{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script>
function selectAll(target_checked) {
    inputs = document.getElementById("contact_list").elements;
    for (i=0; i<inputs.length; i++) {
        input = inputs[i];
        if (input.name.indexOf('contact_') == 0)
            input.checked = target_checked;
    }
}

function refreshSendTo() {
    link = '';
    inputs = document.getElementById("contact_list").elements;
    for (i=0; i<inputs.length; i++) {
        input = inputs[i];
        if (input.name.indexOf('contact_') == -1)
            continue;
        if (!input.checked)
            continue;
        if (!link)
            link += 'mailto:?bcc=';
        else
            link += ',';
        link += input.value;
    }
    /*alert(link);
    alert(document.getElementById("mailtolink").href);*/
    document.getElementById("mailtolink").href = link;
}

function onFocusTextArea() {
    /* That function erases the textarea on enter if it still contains the original text. */
    elmt = document.getElementById("messagetxt");
    if (elmt.value == '{% trans "Enter your message here." %}')
        elmt.value = '';
}
</script>
{% endblock %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
<div class=module>

    <h3>{% trans "Memberships" %}</h3>
    <p>
    {% trans "Include members" %}: {% if "m" in display %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}
    -
    {% trans "Include invited" %}: {% if "i" in display %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}
    -
    {% trans "Include declined invitations" %}: {% if "d" in display %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}
    -
    {% trans "Include subgroups" %}: {% if "g" in display %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}
    -
    {% trans "Include admins" %}: {% if "a" in display %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}
    </p>

    {% if strfilter %}
    <h3>{% trans "Filter" %}:</h3>
    <p>{{filter.to_html|safe}}</p>
    {% endif %}

    <p>{% trans "Don't forget to <b>use Bcc</b> whenever you can!" %}

    <form id="contact_list" method="post">
    {% csrf_token %}

    <p>
    <a href="javascript:selectAll(true)">{% trans "Select all" %}</a> - <a href="javascript:selectAll(false)">{% trans "Unselect all" %}</a><br>
    {% for cid,contact,email in emails %}
    <input type=checkbox name="contact_{{cid}}" id="contact_{{cid}}" value="{{ email }}" checked onchange='refreshSendTo()'> <label for="contact_{{cid}}">{{contact}} &lt;{{ email }}&gt;</label><br>
    {% endfor %}

    {% if noemails %}
        <p>{% trans "Warning, the following people does not have any email address" %}:<br>
        {% for contact in noemails %}
        <a href="{{ contact.get_absolute_url }}">{{ contact.name }}</a><br>
        {% endfor %}
    {% endif %}

    <p>
    {% trans "Subject" %}: <input name=subject maxlength="64" size=64>
    <p>
    <textarea name=message id=messagetxt style="width:100%" rows=20 onfocus='onFocusTextArea()'>{% trans "Enter your message here." %}</textarea>
</div>

{% block submitbar %}
<div class=submit-row>
      <a id="mailtolink" href="mailto:?bcc={% for cid,contact,email in emails %}{% if forloop.counter0 %},{% endif %}{{ email }}{% endfor %}" class="button default">{% trans "Use my program" %}</a>
      <input type=submit value="{% trans "Send from server" %}">
</div>
{% endblock %}

</form>
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
