{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
{% if filters %}
    {% for f in filters %}
    {% if forloop.first %}
    <div class="module padded">
    <ul>
    {% endif %}
    <li><a href="./{{forloop.counter0}}/">{{f}}</a><br>
    {% if forloop.last %}
    </ul>
    </div>
    {% endif %}
    {% endfor %}
{% else %}
    <div class=fullpagebox>
    {% trans "That user has no custom filter." %}
    </div>
{% endif %}

{% block submitbar %}
<div class=submit-row>
    <a href="{{ contact.get_absolute_url}}" class="button default">Contact details</a>
</div>
{% endblock %}

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
