{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script>
function selectAll(target_checked) {
    inputs = document.getElementById("contact_list").elements;
    for (i=0; i<inputs.length; i++) {
        input = inputs[i];
        if (input.name.indexOf('contact_') == 0)
            input.checked = target_checked;
    }
}
</script>
{% endblock %}

{% block content %}
<div id="content-main">
<form id="contact_list" method="post">
<h1 class="boxheader">{% trans "Selected people" %}</h1>
<div class=box>
{% csrf_token %}
{% for c in query %}
<input type=checkbox name="contact_{{c.id}}" id="contact_{{c.id}}" checked> <label for="contact_{{c.id}}">{{c}}</label><br>
{% endfor %}
<a href="javascript:selectAll(true)">{% trans "Select all" %}</a> - <a href="javascript:selectAll(false)">{% trans "Unselect all" %}</a>
</div>

<h1 class="boxheader">{% trans "Select a group" %}</h1>
<div class=box>
<select name=group>
<option value=''>{% trans "Choose a group" %}
{% for g in groups %}
{% ifchanged g.is_event %}
{% if g.is_event %}
    <optgroup label="{% trans "Events" %}">
{% else %}
    <optgroup label="{% trans "Permanent groups" %}">
{% endif %}
{% endifchanged %}
<option value={{g.id}}>{{g.name_with_date}}
{% endfor %}
</select>
</div>

<h1 class=boxheader>{% trans "Select membership mode" %}</h1>
<div class=box>
<input type=checkbox id=membership_member name=membership_member checked onchange="
    if (this.checked) {
        this.form.membership_invited.checked=false;
        this.form.membership_declined.checked=false;
    }
"><label for=membership_member>{% trans "Member" %}</label>
<input type=checkbox id=membership_invited name=membership_invited onchange="
    if (this.checked) {
        this.form.membership_member.checked=false;
        this.form.membership_declined.checked=false;
    }
"><label for=membership_invited>{% trans "Invited" %}</label>
<input type=checkbox id=membership_declined name=membership_declined onchange="
    if (this.checked) {
        this.form.membership_member.checked=false;
        this.form.membership_invited.checked=false;
    }
"><label for=membership_declined>{% trans "Declined invitation" %}</label>
<br>
<input type=checkbox id=membership_operator name=membership_operator onchange="
    if (this.checked) {
        this.form.membership_viewer.checked=true;
        this.form.membership_see_group.checked=true;
        this.form.membership_change_group.checked=true;
        this.form.membership_see_members.checked=true;
        this.form.membership_change_members.checked=true;
        this.form.membership_view_fields.checked=true;
        this.form.membership_write_fields.checked=true;
        this.form.membership_view_news.checked=true;
        this.form.membership_write_news.checked=true;
        this.form.membership_view_files.checked=true;
        this.form.membership_write_files.checked=true;
        this.form.membership_view_msgs.checked=true;
        this.form.membership_write_msgs.checked=true;
    }
"><label for=membership_operator>{% trans "Operator" %}</label>
<input type=checkbox id=membership_viewer name=membership_viewer onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
        this.form.membership_see_members.checked=true;
        this.form.membership_view_fields.checked=true;
        this.form.membership_view_news.checked=true;
        this.form.membership_view_files.checked=true;
        this.form.membership_view_msgs.checked=true;
    } else {
        this.form.membership_operator.checked=false;
    }
"><label for=membership_viewer>{% trans "Viewer" %}</label>
<input type=checkbox id=membership_see_group name=membership_see_group onchange="
    if (!this.checked) {
        this.form.membership_operator.checked=false;
        this.form.membership_viewer.checked=false;
        this.form.membership_change_group.checked=false;
        this.form.membership_see_members.checked=false;
        this.form.membership_change_members.checked=false;
        this.form.membership_view_fields.checked=false;
        this.form.membership_write_fields.checked=false;
        this.form.membership_view_news.checked=false;
        this.form.membership_write_news.checked=false;
        this.form.membership_view_files.checked=false;
        this.form.membership_write_files.checked=false;
        this.form.membership_view_msgs.checked=false;
        this.form.membership_write_msgs.checked=false;
    }
"><label for=membership_see_group>{% trans "Can see group" %}</label>
<input type=checkbox id=membership_change_group name=membership_change_group onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
    } else {
        this.form.membership_operator.checked=false;
    }
"><label for=membership_change_group>{% trans "Group editor" %}</label>
<input type=checkbox id=membership_see_members name=membership_see_members onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
    } else {
        this.form.membership_operator.checked=false;
        this.form.membership_viewer.checked=false;
        this.form.membership_change_members.checked=false;
    }
"><label for=membership_see_members>{% trans "Can see members" %}</label>
<input type=checkbox id=membership_change_members name=membership_change_members onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
        this.form.membership_see_members.checked=true;
    } else {
        this.form.membership_operator.checked=false;
    }
"><label for=membership_change_members>{% trans "Can change members" %}</label>
<input type=checkbox id=membership_view_fields name=membership_view_fields onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
    } else {
        this.form.membership_operator.checked=false;
        this.form.membership_viewer.checked=false;
        this.form.membership_write_fields.checked=false;
    }
"><label for=membership_view_fields>{% trans "Can view fields" %}</label>
<input type=checkbox id=membership_write_fields name=membership_write_fields onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
        this.form.membership_view_fields.checked=true;
    } else {
        this.form.membership_operator.checked=false;
    }
"><label for=membership_write_fields>{% trans "Can write fields" %}</label>
<input type=checkbox id=membership_view_news name=membership_view_news onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
    } else {
        this.form.membership_operator.checked=false;
        this.form.membership_viewer.checked=false;
        this.form.membership_write_news.checked=false;
    }
"><label for=membership_view_news>{% trans "Can view news" %}</label>
<input type=checkbox id=membership_write_news name=membership_write_news onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
        this.form.membership_view_news.checked=true;
    } else {
        this.form.membership_operator.checked=false;
    }
"><label for=membership_write_news>{% trans "Can write news" %}</label>
<input type=checkbox id=membership_view_files name=membership_view_files onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
    } else {
        this.form.membership_operator.checked=false;
        this.form.membership_viewer.checked=false;
        this.form.membership_write_files.checked=false;
    }
"><label for=membership_view_files>{% trans "Can view files" %}</label>
<input type=checkbox id=membership_write_files name=membership_write_files onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
        this.form.membership_view_files.checked=true;
    } else {
        this.form.membership_operator.checked=false;
    }
"><label for=membership_write_files>{% trans "Can upload files" %}</label>
<input type=checkbox id=membership_view_msgs name=membership_view_msgs onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
    } else {
        this.form.membership_operator.checked=false;
        this.form.membership_viewer.checked=false;
        this.form.membership_write_files.checked=false;
    }
"><label for=membership_view_msgs>{% trans "Can view messages" %}</label>
<input type=checkbox id=membership_write_msgs name=membership_write_msgs onchange="
    if (this.checked) {
        this.form.membership_see_group.checked=true;
        this.form.membership_view_msgs.checked=true;
    } else {
        this.form.membership_operator.checked=false;
    }
"><label for=membership_write_msgs>{% trans "Can write messages" %}</label>
</div>

{% block submitbar %}
<div class=submit-row>
    <input type=submit name="type" value="{% trans "Add to group" %}" class="default">
</div>
{% endblock %}
</form>
</div>
{% endblock %}
