{% load i18n %}
<div id=submenucontainer>
<a href="{{cg.get_absolute_url}}members/"><div class="submenuitem {% if active_submenu == "members" %}activesubmenuitem{% endif %}">{% trans "Members" %}</div></a>
<a href="{{cg.get_absolute_url}}news/"><div class="submenuitem {% if active_submenu == "news" %}activesubmenuitem{% endif %}">{% trans "News" %}</div></a>
<a href="{{cg.get_absolute_url}}files"><div class="submenuitem {% if active_submenu == "files" %}activesubmenuitem{% endif %}">{% trans "Files" %}</div></a>
<a href="{{cg.get_absolute_url}}messages"><div class="submenuitem {% if active_submenu == "messages" %}activesubmenuitem{% endif %}">{% trans "Messages" %}</div></a>
<br clear=all>
</div>
