{% load i18n %}
<div id=submenucontainer>
{% spaceless %}
{% if cg_perms.c %}
    <a href="{{cg.get_absolute_url}}members/">
{% endif %}
    <div class="submenuitem {% if active_submenu == "members" %}activesubmenuitem{% endif %}"{% if not cg_perms.c %} title="{% trans "You don't have permission to browse that item" %}"{% endif %}>
        {% trans "Members" %}
    </div>
{% if cg_perms.c %}
    </a>
{% endif %}
{% endspaceless %}

{% spaceless %}
{% if cg_perms.n %}
    <a href="{{cg.get_absolute_url}}news/">
{% endif %}
    <div class="submenuitem {% if active_submenu == "news" %}activesubmenuitem{% endif %}"{% if not cg_perms.n %} title="{% trans "You don't have permission to browse that item" %}"{% endif %}>
        {% trans "News" %}
    </div>
{% if cg_perms.n %}
    </a>
{% endif %}
{% endspaceless %}

{% spaceless %}
{% if cg_perms.u %}
    <a href="{{cg.get_absolute_url}}files/">
{% endif %}
    <div class="submenuitem {% if active_submenu == "files" %}activesubmenuitem{% endif %}"{% if not cg_perms.u %} title="{% trans "You don't have permission to browse that item" %}"{% endif %}>
        {% trans "Files" %}
    </div>
{% if cg_perms.u %}
    </a>
{% endif %}
{% endspaceless %}

{% if cg.mailman_address %}
{% if cg_perms.c %}
    <a href="{{cg.get_absolute_url}}mailman">
{% endif %}
    <div class="submenuitem {% if active_submenu == "mailman" %}activesubmenuitem{% endif %}"{% if not cg_perms.c %} title="{% trans "You don't have permission to browse that item" %}"{% endif %}>
        {% trans "Mailman" %}
    </div>
{% if cg_perms.c %}
    </a>
{% endif %}
{% endif %}

{% spaceless %}
{% if cg_perms.x %}
    <a href="{{cg.get_absolute_url}}messages/?&_order=-0">
{% endif %}
    <div class="submenuitem {% if active_submenu == "messages" %}activesubmenuitem{% endif %}"{% if not cg_perms.o %} title="{% trans "You don't have permission to browse that item" %}"{% endif %}>
        {% trans "Messages" %}
        {% if cg.count_unread_messages %}<span style='color:red;'>✉</span>{% endif %}
    </div>
{% if cg_perms.x %}
    </a>
{% endif %}
{% endspaceless %}

</div>
{# vim: set et ts=4 ft=htmldjango: #}
