{% extends "edit.html" %}
{% load i18n %}

{% block preform %}
<div class=box>
{% blocktrans with requestaddress=cg.mailman_request_address %}
Send <tt>who listpassword</tt> to <a href="mailto:{{ requestaddress }}">{{ requestaddress }}</a> and copy paste the answer bellow. Replace the example.
<p>Be careful not to forget <b>-request</b> in the email address, since you probably don't want every suscriber to receive the password in their mailbox!
{% endblocktrans %}
</div>
{% endblock %}

{% block submitbar %}
<input type=submit value="{% trans "Send" %}" id="default">
{% endblock %}
