{% extends "admin/base_site.html" %}
{% load i18n %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block bodyclass %}change-form{% endblock %}

{% block content %}
<div id="content-main">

<div class="module padded">
<form method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
</div>

{% block submitbar %}
<div class=submit-row>
    <input type=submit name="type" value="{% trans "Add to group" %}" class="default">
</div>
{% endblock %}
</form>
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
