{% extends "base.html" %}
{% load i18n ngwtags %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">

{% for msg in contact_messages %}
<div class=module>
    <p>
    {% if msg.is_answer %}{% trans "From" %}{% else %}{% trans "To" %}{% endif %}: {{msg.contact.name}}<br>
    {% trans "Date" %}: {{msg.send_date}}<br>
    <br>
    {{ msg.text|linebreaksbr }}
    </p>
</div>
{% empty %}
<div class=fullpagebox>
    {% trans "There are no messages." %}
</div>
{% endfor %}

{% if paginator %}
<p class="paginator padded" style="border-top: none;">
    {% ifnotequal paginator.num_pages 1 %}
        {% blocktrans count npages=paginator.num_pages %}{{ npages }} page{% plural %}{{ npages }} pages{% endblocktrans %}
        -
        {% for i in page_obj.number|pagenumber_iterator:paginator.num_pages %}
            {% ifnotequal page_obj.number i %}
            <a href={% if baseurl %}{{baseurl}}{% else %}?{% endif %}&amp;_order={{order}}&amp;_page={{i}}>
            {% else %}
            <span class="this-page">
            {% endifnotequal %}
            {{i}}
            {% ifnotequal page_obj.number i %}
            </a>
            {% else %}
            </span>
            {% endifnotequal %}&nbsp;
        {% endfor %}
        -
    {% endifnotequal %}
    {% blocktrans count count=paginator.count %}{{ count }} result{% plural %}{{ count }} results{% endblocktrans %}
</p>
{% endif %}

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
