{% extends "admin/base_site.html" %}
{% load i18n %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
.contactchoices li {
    list-style-type: none;
}
.contactchoices .iconbusy {
        display: none;
}
.contactchoices .busy .iconbusy {
        display: inline;
}
.loading_status {
        padding-left: 10px;
}

</style>

{% trans "Loading availabilities..." as loading_availabilities %}
{% trans "Sorry, availabilities can't be loaded. Please try again later." as loading_error %}

{# { ids|json_script:"hello-data" } since django 2.1 #}
<script>
var ids={{ json_ids }};
function check_availability(gid, update_checkboxes) {
    /* busycontact class are always updated.
       checkbox checked is only updated if update_checkboxes
    */

    if (gid) {
        let loading_node = document.querySelector('.loading_status');  // Dom node
        loading_node.innerHTML = '{{ loading_availabilities|escapejs }}';
        let xhr = new XMLHttpRequest();
        let url = '/contacts/check_available?group=' + gid + '&ids=' + ids;
        xhr.open('GET', url);
        xhr.responseType = 'json';
        xhr.onload = function() {
            if (xhr.status != 200) {
                loading_node.innerHTML = '{{ loading_error|escapejs }}';
                return;
            }

            let busy_target = xhr.response.event_busy;  // does the target group makes its member busy?

            for (info of xhr.response.contacts) {
                let box = document.querySelector('input[type="checkbox"][value="'+info.id+'"]');
                if (update_checkboxes) {
                    if (busy_target)
                        box.checked = ((info.busy & 1) == 0);
                    else
                        box.checked = true;
                }
                let li = box.parentElement.parentElement;
                if (info.busy & 1)
                    li.classList.add('busy');
                else
                    li.classList.remove('busy');
            }
            loading_node.innerHTML = '';
        }
        xhr.send();
    } else {
        // gid is empty
        for (box of document.querySelectorAll('.contactchoices input[type="checkbox"]')) {
            if (update_checkboxes)
                box.checked = true;
            let li = box.parentElement.parentElement;
            li.classList.remove('busy');
        }
    }
}
            
function group_changed() {
    let gid = this.value;
    check_availability(gid, true);
}
window.addEventListener('load', function() {
    // Add a loading/error message area:
    let groupSelect = document.getElementById('id_group');
    let loadingStatus = document.createElement("span");
    loadingStatus.className = 'loading_status';
    groupSelect.after(loadingStatus);

    // Add busy icons:
    for (let box of document.querySelectorAll('.contactchoices input[type="checkbox"]')) {
        let busyIcon = document.createElement("span");
        busyIcon.className = 'iconbusy';
        box.parentNode.appendChild(busyIcon);
    }

    check_availability(groupSelect.value, false);
    groupSelect.addEventListener('change', group_changed);
});

</script>
{% endblock %}

{% block bodyclass %}change-form{% endblock %}

{% block content %}
<div id="content-main">

<div class="module padded">
<form method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
</div>

{% block submitbar %}
<div class=submit-row>
    <input type=submit name="type" value="{% trans "Add to group" %}" class="default">
</div>
{% endblock %}
</form>
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
