{% extends "admin/base_site.html" %}
{% load i18n %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
    {% for f in files %}
        {% if forloop.first %}
        <div class=module>
        <ul class="padded">
        {% endif %}
        <li><a href="{{MEDIA_URL}}g/{{cg.id}}{{path|urlencode}}{{f|urlencode}}">{{f}}</a><br>
        {% if forloop.last %}
        </ul>
        </div>
        {% endif %}
    {% empty %}
        <div class=fullpagebox>
        {% trans "There are no files in that group." %}
        </div>
    {% endfor %}

    {% if 'U' in cg_perms %}
    {{form.media|safe}}
    {# {{ form.errors } #}
    {% block preform %}{% endblock %}
    <div class=module>
    <form name=objchange method=post enctype="multipart/form-data">
    {% csrf_token %}
    <table class=objchange>
    {{ form.as_table }}
    </table>
    </div>
    {% endif %}

{% block submitbar %}
{% if 'U' in cg_perms %}
<div class="submit-row">
    <input type=submit value="{% trans "Send" %}" class="default">
</div>
{% endif %}
{% endblock %}

{% if 'U' in cg_perms %}
</form>
{% endif %}

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
