{% extends "contact_list.html" %}
{% load i18n staticfiles ngwtags %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block prequerylist %}
<div class="module padded">
    {% if cg.description %}{{ cg.description|linebreaksbr }}<br>{% endif %}
    {% if cg.date %}<br>
        {% ifequal cg.date cg.end_date %}
        {% trans "Date" %}: <b>{{ cg.date|date:"DATE_FORMAT" }}</b>
        {% else %}
        {% blocktrans with start_date=cg.date|date:"DATE_FORMAT" end_date=cg.end_date|date:"DATE_FORMAT" %}Dates: From <b>{{ start_date }}</b> to <b>{{ end_date }}</b>{% endblocktrans %}
        {% endifequal %}
    {% endif %}
    {% if cg.budget_code %}<br>{% trans "Budget code" %}: <b>{{ cg.budget_code }}</b>{% endif %}
    {% if cg.mailman_address %}<br>{% trans "Mailing list" %}: <b>{{ cg.mailman_address }}</b>{% endif %}
</div>
    {{ block.super }}
{% endblock %}


{% block presubmitbar %}
    {{ block.super }}
    {% ifnotequal cg.id 1 %}{# FIXME #}
    {% if "g" in display %}
        {% for sg in cg.get_direct_subgroups|group_visible_by:user.id %}
            {% if forloop.first %}
                <h1 class=boxheader>{% trans "Sub groups" %}</h1>
                <div class=box>
                    {% trans "People in sub-groups automatically are members / invited." %}
                    <br>
            {% endif %}
                    ‣ {{ sg|group_with_link }}
                    {% for ssg in sg.get_subgroups|group_visible_by:user.id %}
                    {% if forloop.first %}( {% trans "including" %} {% else %}, {% endif %}
                    {{ ssg|group_with_link }}
                    {% if forloop.last %}){% endif %}
                    {% endfor %}
                    <br>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endifnotequal %}
    
    {% if "a" in display %}
    {% for sg in cg.get_manager_groups|group_visible_by:user.id %}
        {% if forloop.first %}
        <h1 class=boxheader>{% trans "Groups that have some access to" %} {{ cg }}</h1>
        <div class=box>
        {% endif %}
        ‣ {{ sg|group_with_link }}<br>
        {% if forloop.last %}
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    {% for p in cg.get_birthday_members %}
        {% if forloop.first %}
            <h1 class=boxheader>{% trans "Happy birthday to" %}</h1>
            <div class=box>
        {% endif %}
        ‣ {{ p }}<br>
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

    
{% block submitbar %}
<div class="submit-row" id=submitbar>
    <a class="button default" href="javascript:show_column_selection();"> {% trans "Select displayed columns" %}</a>
    <a class=button href="{{cg.get_absolute_url}}edit">{% trans "Edit" %}</a>
    {% if not cg.date and not cg.virtual %}
    <a class=button href="add"><img src="{% static "admin/img/icon_addlink.gif" %}" border=0> {% trans "Create a new contact in that group" %}</a>
    {% endif %}
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
