{% extends "admin/base_site.html" %}
{% load i18n ngwtags %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
    {% if cg.perso_unavail %}
        {% blocktrans %}<a href="{{ contactlink }}">{{ contact }}</a> is unavailable.{% endblocktrans %}
        <span class=iconbusy></span>
        <br>
    {% elif cg.busy%}
        {% trans "Members are <b>unavailable</b> for other events." %} <span class=iconbusy></span>
        <br>
    {% else %}
        {% trans "Members are <b>available</b> for other events." %}
        <br>
    {% endif %}

    {% if cg.date %}
        {% ifequal cg.date cg.end_date %}
        {% trans "Date" %}: <b>{{ cg.date|date:"DATE_FORMAT" }}</b>
        {% else %}
        {% blocktrans with start_date=cg.date|date:"DATE_FORMAT" end_date=cg.end_date|date:"DATE_FORMAT" %}Dates: From <b>{{ start_date }}</b> to <b>{{ end_date }}</b> included{% endblocktrans %} ({% blocktrans count days=cg.get_duration %}1 day{% plural %}{{ days }} days{% endblocktrans %}).
        {% endifequal %}
        <br>
    {% endif %}

    {% if cg.description %}{% trans "Description"%}: {{ cg.description|linebreaksbr }}<br>{% endif %}
    {% if cg.budget_code %}{% trans "Budget code" %}: <b>{{ cg.budget_code }}</b><br>{% endif %}
    {% if cg.mailman_address %}{% trans "Mailing list" %}: <b>{{ cg.mailman_address }}</b><br>{% endif %}
<p>

{% block presubmitbar %}
    {{ block.super }}
    {% ifnotequal cg.id 1 %}{# FIXME #}
    {% for sg in cg.get_direct_subgroups|group_visible_by:user.id %}
        {% if forloop.first %}
            <div class=module>
                <h2>{% trans "Sub groups" %}</h2>
                <div class=padded>
                    {% trans "People in sub-groups automatically are members / invited." %}
                    <br>
        {% endif %}
                    ‣ {{ sg|group_with_link }}
                    {% for ssg in sg.get_subgroups|group_visible_by:user.id %}
                    {% if forloop.first %}( {% trans "including" %} {% else %}, {% endif %}
                    {{ ssg|group_with_link }}
                    {% if forloop.last %}){% endif %}
                    {% endfor %}
                    <br>
        {% if forloop.last %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% endifnotequal %}

    {% for sg in cg.get_manager_groups|group_visible_by:user.id %}
        {% if forloop.first %}
            <div class=module>
                <h2>{% trans "Groups that have some access to" %} {{ cg }}</h2>
                <div class=padded>
        {% endif %}
        ‣ {{ sg|group_with_link }}<br>
        {% if forloop.last %}
                </div>
             </div>
        {% endif %}
    {% endfor %}
{% endblock %}


{% block submitbar %}
<div class="submit-row" id=submitbar>
    <a class=button href="{{cg.get_absolute_url}}edit">{% trans "Edit" %}</a>
</div>
{% endblock %}

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
