{% load i18n %}
<div id=submenucontainer>
{% spaceless %}
{% if 'c' in cg_perms %}
    <a href="{{cg.get_absolute_url}}members/">
{% endif %}
    <div class="submenuitem {% if active_submenu == "members" %}activesubmenuitem{% endif %}"{% if not 'c' in cg_perms %} title="{% trans "You don't have permission to browse that item" %}"{% endif %}>
    {% if 'c' in cg_perms %}
        {% blocktrans count counter=cg.member_count %}{{counter}} member{% plural %}{{counter}} members{% endblocktrans %}
    {% else %}
        {% trans "Members" %}
    {% endif %}
    </div>
{% if 'c' in cg_perms %}
    </a>
{% endif %}
{% endspaceless %}

{% spaceless %}
{% if 'n' in cg_perms %}
    <a href="{{cg.get_absolute_url}}news/">
{% endif %}
    <div class="submenuitem {% if active_submenu == "news" %}activesubmenuitem{% endif %}"{% if not 'n' in cg_perms %} title="{% trans "You don't have permission to browse that item" %}"{% endif %}>
    {% if 'n' in cg_perms %}
        {% blocktrans count counter=cg.news_count %}{{counter}} news{% plural %}{{counter}} news{% endblocktrans %}
    {% else %}
        {% trans "News" %}
    {% endif %}
    </div>
{% if 'n' in cg_perms %}
    </a>
{% endif %}
{% endspaceless %}

{% spaceless %}
{% if 'u' in cg_perms %}
    <a href="{{cg.get_absolute_url}}files/">
{% endif %}
    <div class="submenuitem {% if active_submenu == "files" %}activesubmenuitem{% endif %}"{% if not 'u' in cg_perms %} title="{% trans "You don't have permission to browse that item" %}"{% endif %}>
    {% if 'u' in cg_perms %}
        {% blocktrans count counter=cg.get_filenames|length %}{{counter}} file{% plural %}{{counter}} files{% endblocktrans %}
    {% else %}
        {% trans "Files" %}
    {% endif %}
    </div>
{% if 'u' in cg_perms %}
    </a>
{% endif %}
{% endspaceless %}

{% if cg.mailman_address %}
{% if 'c' in cg_perms %}
    <a href="{{cg.get_absolute_url}}mailman">
{% endif %}
    <div class="submenuitem {% if active_submenu == "mailman" %}activesubmenuitem{% endif %}"{% if not 'c' in cg_perms %} title="{% trans "You don't have permission to browse that item" %}"{% endif %}>
        {% trans "Mailman" %}
    </div>
{% if 'c' in cg_perms %}
    </a>
{% endif %}
{% endif %}

{% spaceless %}
{% if 'x' in cg_perms %}
    <a href="{{cg.get_absolute_url}}messages/">
{% endif %}
    <div class="submenuitem {% if active_submenu == "messages" %}activesubmenuitem{% endif %}"{% if not 'x' in cg_perms %} title="{% trans "You don't have permission to browse that item" %}"{% endif %}>
    {% if 'x' in cg_perms %}
        {% blocktrans count counter=cg.message_count %}{{counter}} message{% plural %}{{counter}} messages{% endblocktrans %}
        {% with nbmsg=cg.count_unread_messages %}
        {% if nbmsg %}<span style='color:red;'>{{ nbmsg }}✉</span>{% endif %}
        {% endwith %}
    {% else %}
        {% trans "Messages" %}
    {% endif %}
    </div>
{% if 'x' in cg_perms %}
    </a>
{% endif %}
{% endspaceless %}

</div>
{# vim: set et ts=4 ft=htmldjango: #}
