{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% for g in operator_groups %}
{% if forloop.first %}
    <h1 class="boxheader">{% trans "You are operator of theses groups" %}:</h1>
    <div class=box>
{% endif %}
‣ <a href="{{g.get_absolute_url}}">{{ g.unicode_with_date }}</a><br>
{% if forloop.last %}
    </div>
{% endif %}
{% endfor %}

<h1 class="boxheader">{% trans "Lastest news" %}</h1>
{% for article in news %}
<div class=box>
<b>{{ article.date|date:"DATE_FORMAT" }}</b> • <b>{{article.title}}</b><br>
{{ article.text|linebreaksbr }}
</div>
{% endfor %}


{% if news.has_previous or news.has_next %}
<div class="submitbar">
    {% if news.has_previous %}
        <a href="?page={{ news.previous_page_number }}">{% trans "Newer news" %}</a>
    {% endif %}

    {% if news.has_next %}
        <a href="?page={{ news.next_page_number }}">{% trans "Older news" %}</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
