{% extends "admin/base_site.html" %}
{% load i18n %}

{% block coltype %}colMS{% endblock %}

{% block content %}
<div id="content-main">
{% for article in news %}
    <div class=module>
    <h2>{{ article.date|date:"DATE_FORMAT" }}</b> • <b>{{article.title}}</b></h2>
    <div class=padded>{{ article.text|linebreaksbr }}</div>
    </div>
{% endfor %}

{% if news.has_previous or news.has_next %}
<div class="submit-row">
    {% if news.has_previous %}
        <a class=button href="?page={{ news.previous_page_number }}">{% trans "Newer news" %}</a>
    {% endif %}

    {% if news.has_next %}
        <a class="button default" href="?page={{ news.next_page_number }}">{% trans "Older news" %}</a>
    {% endif %}
</div>
{% endif %}
</div>
{% endblock %}


{% block sidebar %}
<div id="content-related">
{% for g in unread_groups %}
    {% if forloop.first %}
        <div class=module>
        <h2>{% trans "Unread messages" %}:</h2>
        <ul class=padded>
    {% endif %}
    <li><a href="{{g.get_absolute_url}}messages/">{{ g }} : {{ g.unread_count }}</a><br>
    {% if forloop.last %}
        </ul>
        </div>
    {% endif %}
{% endfor %}
{% for g in operator_groups %}
    {% if forloop.first %}
        <div class=module>
        <h2>{% trans "You are operator of theses groups" %}:</h2>
        <ul class="padded maxsized">
    {% endif %}
    <li><a href="{{g.get_absolute_url}}">{{ g }}</a><br>
    {% if forloop.last %}
        </ul>
        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
