{% extends "admin/base_site.html" %}
{% load i18n staticfiles admin_list %}

{% block extrahead %}{{ block.super }}
{% if actions %}
<script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
    {% comment %}
    {% block object-tools %}
      {#{% if has_add_permission %}#}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>
              {% comment %}
              {% url cl.opts|admin_urlname:'add' as add_url %}
              <a href="{% add_preserved_filters add_url is_popup %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
              </a>
              endcomment %}
              <a href="{{ objtype.get_class_absolute_url}}add" class="addlink">{% trans "Add" %} {{ objtype.get_class_verbose_name }}</a>

            </li>
          {% endblock %}
        </ul>
      {#% endif %#}
    {% endblock %}
    {% endcomment %}

    {% block prequerylist %}{% endblock %}
    <div class="module {% if view.has_filters %}filtered{% endif %}" id="changelist">
    {% block search %}{% endblock %}
    {% block filters %}
        {% if view.has_filters %}
            <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in view.filter_specs %}{% admin_list_filter view spec %}{% endfor %}
            </div>
        {% endif %}
    {% endblock %}
    {% include "query.html" %}
    </div>

    {% block presubmitbar %}
    {% endblock %}

    {% block submitbar %}
    <div class="submit-row">
    <a class="button default" href="{{ objtype.get_class_absolute_url}}add"><img src="{% static "admin/img/icon_addlink.gif" %}" border=0> {% trans "Add" %} {{ objtype.get_class_verbose_name }}</a>
    </div>
    {% endblock %}

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
