{% extends "base.html" %}
{% load i18n staticfiles %}

{% block extrahead %}{{ block.super }}
<style>
.ncalendar {
    width: 100%;
}
.ncalendar th {
    border-bottom: 1px solid #999;
    border-left: none;
    font-weight: normal;
}
.ncalendar tr + tr {
    /* all lines but the first */
    border-top: 1px solid #ccc;
}
.ncalendar td {
    vertical-align: top;
    height: 7ex;
}
.calday {
    background-color: #eee;
    text-align: right;
    padding-right: 1ex;
    font-size: 80%;
}
.today {
    background-color: #faa;
}
</style>
{% endblock %}

{% block body %}
<div id=submitbar>
    <a href="?dt={{year_month.prev_year}}" title="{% trans "Go back one year" %}" style="margin-left:2ex;">↞</a>
    <a href="?dt={{year_month.prev_month}}" title="{% trans "Go back one month" %}" style="margin-left:.5ex;">←</a>
    <a href="." style="margin-left:.5ex;" title="{% trans "Go to current month" %}">{% trans "Today" %}</a>
    <a href="?dt={{year_month.next_month}}" title="{% trans "Go forward one month" %}" style="margin-left:.5ex;">→</a>
    <a href="?dt={{year_month.next_year}}" title="{% trans "Go forward one year" %}" style="margin-left:.5ex;">↠</a>
    <a href=add style="float:right;"><img src="{% static "admin/img/icon_addlink.gif" %}" border=0> {% trans "Add event" %}</a>
    <div class=pseudotitle style="float:none; text-align:center; border:none; background:none; font-size:140%; padding-top:0;"><b>{{year_month.first_day|date:"YEAR_MONTH_FORMAT"|title}}</b></div>
</div>
<br>
<table class='ncalendar'>
<colgroup>
<col width='14.285%'>
<col width='14.285%'>
<col width='14.285%'>
<col width='14.285%'>
<col width='14.285%'>
<col width='14.285%'>
<col width='14.285%'>
</colgroup>
<tr>
{% for week in year_month.weeks %}
{% if forloop.first %}
{% for d, events in week.days %}
<th>{{d|date:"l"|title}}
{% endfor %}
{% endif %}
{% endfor %}

{% for week in year_month.weeks %}
<tr>
{% for d, events in week.days %}
<td><div class="calday{% ifequal d today %} today{% endifequal %}">

{{ d.day }}
</div>
{% for event in events %}
{% if forloop.counter0 %}<br>
{% endif %}
• <a href="{{event.get_absolute_url}}" title="{{event.description}}">{{ event }}</a>
{% endfor %}
{% endfor %}
{% endfor %}
</table>
<br>
{% endblock %}
