{% extends "base.html" %}
{% load i18n staticfiles %}

{% block extrahead %}{{ block.super }}
<style>
.ncalendar {
    width: 100%;
}
.ncalendar th {
    font-weight: normal;
    border: 1px solid #ccc;
}
.ncalendar td {
    vertical-align: top;
    height: 7ex;
    padding: 0;
    border: 1px solid #ccc;
}
.calday {
    background-color: #eee;
    text-align: right;
    padding-right: 1ex;
    font-size: 80%;
}
.today {
    background-color: #faa;
}
</style>
{% endblock %}

{% block content %}
<div id="content-main">

<div class="submit-row" style="text-align:center;">
    <a class=button href="?dt={{year_month.prev_year}}" title="{% trans "Go back one year" %}" style="float:left; margin-left:2ex;">↞</a>
    <a class=button href="?dt={{year_month.prev_month}}" title="{% trans "Go back one month" %}" style="float:left; margin-left:.5ex;">←</a>
    <a class=button href="." style="float:left; margin-left:.5ex;" title="{% trans "Go to current month" %}">{% trans "Today" %}</a>
    <a class=button href="?dt={{year_month.next_month}}" title="{% trans "Go forward one month" %}" style="float:left; margin-left:.5ex;">→</a>
    <a class=button href="?dt={{year_month.next_year}}" title="{% trans "Go forward one year" %}" style="float:left; margin-left:.5ex;">↠</a>
    <a class=button href=add style="float:right;"><img src="{% static "admin/img/icon_addlink.gif" %}" border=0> {% trans "Add event" %}</a>
    <h2 style="display:inline-block; text-align:center; padding-top:0; margin:0 0 0 5px; font-weight: bold;">{{year_month.first_day|date:"YEAR_MONTH_FORMAT"|title}}</h2>

</div>

<table class='ncalendar'>
    <colgroup>
    <col width='14.285%'>
    <col width='14.285%'>
    <col width='14.285%'>
    <col width='14.285%'>
    <col width='14.285%'>
    <col width='14.285%'>
    <col width='14.285%'>
    </colgroup>
    <tr>
    {% for week in year_month.weeks %}
    {% if forloop.first %}
    {% for d, events in week.days %}
    <th>{{d|date:"l"|title}}
    {% endfor %}
    {% endif %}
    {% endfor %}
    
    {% for week in year_month.weeks %}
    <tr>
    {% for d, events in week.days %}
    <td><div class="calday{% ifequal d today %} today{% endifequal %}">
    
    {{ d.day }}
    </div>
    {% for event in events %}
    {% if forloop.counter0 %}<br>
    {% endif %}
    • <a href="{{event.get_absolute_url}}" title="{{event.description}}">{{ event }}</a>
    {% endfor %}
    {% endfor %}
    {% endfor %}
</table>
</div>
{% endblock %}
