{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}
    
    {% block prequerylist %}{% endblock %}
    {% include "query_entities.html" %}

    {% block presubmitbar %}
    {% endblock %}

    {% block submitbar %}
    <div class="submit-row">
    <a class="button default" href="{{ objtype.get_class_absolute_url}}add"><img src="{% static "admin/img/icon_addlink.gif" %}" border=0> {% trans "Add" %} {{ objtype.get_class_verbose_name }}</a>
    </div>
    {% endblock %}

{% endblock %}
