{% extends "base.html" %}
{% load i18n staticfiles %}

{% block extrahead %}{{ block.super }}
{% if actions %}
<script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
    
    {% block prequerylist %}{% endblock %}
    <div class="module {% if simplefilters %}filtered{% endif %}" id="changelist">
    {% block search %}{% endblock %}
    {% block filters %}
        {% for filter, choices in simplefilters %}
            {% if forloop.first %}
            <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% endif %}
            <h3>{% trans 'By' %} {{ filter.title }}</h3>
            <ul>
            {% for choice in choices %}
                <li {% if choice.selected %}class="selected"{% endif %}>
                    <a href="{{choice.query_string}}">{{ choice.display }}</a>
                </li>
            {% endfor %}
            </ul>
            {% if forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
    {% endblock %}
    {% include "query.html" %}
    </div>

    {% block presubmitbar %}
    {% endblock %}

    {% block submitbar %}
    <div class="submit-row">
    <a class="button default" href="{{ objtype.get_class_absolute_url}}add"><img src="{% static "admin/img/icon_addlink.gif" %}" border=0> {% trans "Add" %} {{ objtype.get_class_verbose_name }}</a>
    </div>
    {% endblock %}

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
