{% extends "base.html" %}
{% load i18n ngwtags %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
{% include "membership_inlineform.html" %}
<div class="module padded">
    {% if object.is_answer %}{% trans "From" %}{% else %}{% trans "To" %}{% endif %}:
    <a href="{{cig_url}}">{{object.contact.name}}</a>
    (
    {#<a href="{{cig_url}}membership">#}
    <a href="javascript:inline_edit_membership('{{membership_title|escapejs}}', '{{cig_url|escapejs}}', '{{ membership }}');">
    {{ membership_str }}
    </a>
    )<br>
    {% if object.is_answer %}{% trans "Received" %}{% else %}{% trans "Sent" %}{% endif %}: {{object.send_date}} UTC<br>
    {% trans "Subject" %}: {{object.subject}}<br>
    {% if not object.is_answer and object.read_date %}
        {% trans "Read by recipent" %}: {{ object.read_date }} UTC<br>
    {% endif %}
    <br>
    {{ object.text|linebreaksbr }}
</div>

{% if cg_perms.X and object.is_answer %}
<div class="submit-row">
<form method=post>
{% csrf_token %}
<input type=submit name=unread value="{% trans "Flag as unread" %}">
</form>
</div>
{% endif %}

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
