{% extends "admin/base_site.html" %}
{% load static i18n ngwtags %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "mimsg/mimsg.css" %}">
<link rel=preload href="{% static "mimsg/mimsg.mjs" %}" as=script>

<script type=module>
import { arrayIndexOfArray, parse_message, textEncode, textDecode, setupInlineImageZoom
       } from '{% static "mimsg/mimsg.mjs" %}';

/*
 * Converts a Uint8Array message in html
 * Supports for obsolete messages that are plain text without headers
 */
function msg_to_html(u8arr) {
    /* Begin of temporary hack for obsolete non-mime messages */
    const mimehint = textEncode('MIME-Version:');
    var mimepos = arrayIndexOfArray(u8arr, mimehint);
    if (mimepos == -1 || mimepos > 20000) {
        // Assume this is an old non-mime message (no RFC822 headers)
        return textDecode(u8arr).replace(/\n/g, '<br>');
    }
    /* End of hack, here we assume this is a RFC822 formatted message */

    var msg = parse_message(u8arr);
    return msg.toHtml();
}

function async_read_message(domElem) {
    let xhr = new XMLHttpRequest();
    xhr.domElem = domElem;
    
    xhr.onprogress = function(event) { // triggers periodically
        // event.loaded - how many bytes downloaded
        // event.lengthComputable = true if the server sent Content-Length header
        // event.total - total number of bytes (if lengthComputable)
        //alert(`Received ${event.loaded} of ${event.total}`);
        let message = `Loading message. Received ${event.loaded} of ${event.total} bytes.`;
        this.domElem.innerHTML = message;
    };

    xhr.onerror = function() { // only triggers if the request couldn't be made at all
        this.domElem.innerHTML = "{% trans "Network Error. Please try again later." %}";
    };

    xhr.onload = function() {
        if (xhr.status != 200) {
            this.domElem.innerHTML = `Failed to load message: Server returned status ${xhr.status}. Please try again later.`;
            return;
        }
        let contentType = xhr.getResponseHeader('Content-Type');
        if (contentType != 'message/rfc822') {
            this.domElem.innerHTML = `Unsupported content-type ${contentType}. Expected message/rfc822.`;
            return;
        }
        
        let u8arr = new Uint8Array(xhr.response);
        let html = msg_to_html(u8arr);
    
        this.domElem.innerHTML = html;
        setupInlineImageZoom();
    };

    xhr.open('GET', domElem.dataset.url);
    xhr.responseType = 'arraybuffer';
    xhr.send();
};

document.addEventListener('DOMContentLoaded', function() {
    for (let domElem of document.getElementsByClassName('rawmimsg')) {
        async_read_message(domElem);
    }
});
</script>
{% endblock %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
{% include "membership_inlineform.html" %}
<div class="module padded">
    <div style="float:right;" id=msgdebuglink><a href="#" onclick="$('#msgdebug').css('display','block'); $('#msgdebuglink').css('display','none');">{% trans "Show debug information" %}</a></div>
    {% if object.is_answer %}{% trans "From" %}{% else %}{% trans "To" %}{% endif %}:
    <a href="{{cig_url}}/">{{object.contact.name}}</a>
    (
    <a href="#" onclick="inline_edit_membership('{{membership_title|escapejs}}', '{{cig_url|escapejs}}', '{{ membership }}', '{{membership_note|escapejs}}');">
    {{ membership_str }}
    )
    {% if membership_note %} ( {{ membership_note }} ) {% endif %}
    </a>
    <br>
    {% if object.is_answer %}{% trans "Received" %}{% else %}{% trans "Sent" %}{% endif %}: {{object.send_date}} UTC<br>
    {% trans "Subject" %}: {{object.subject}}<br>
    {% if not object.is_answer and object.read_date %}
        {% trans "Read by recipent" %}: {{ object.read_date }} UTC<br>
    {% endif %}
    <span id=msgdebug style="display:none">
        Message-Id: {{ object.id }}<br>
        {% for k,v in sync_info.items %}
        {{ k }}: {{ v }}<br>
        {% endfor %}
    </span>
    <br>
    <br>
    <div class=rawmimsg data-msgid="{{ object.id }}" data-url="./{{ object.id }}/blob">{% trans "Reading message..." %}</div>
</div>

{% for message in object.get_related_messages %}
{% if forloop.first %}
<h3>{% trans "Related messages" %}</h3>
<ul>
{% endif %}
<li><a href={{message.id}}>{{ message.nice_flags}} {{ message.send_date }} - {{ message.subject }}</a>
{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}

{% if 'X' in cg_perms %}
<div class="submit-row">
<form method=post>
{% csrf_token %}
{% if object.is_answer and reply_url %}
<a class='button' href="{{reply_url}}">{% trans "Reply" %}</a>
{% endif %}
{% if object.is_answer %}
<input type=submit name=unread value="{% trans "Flag as unread" %}">
{% endif %}
<p class="deletelink-box"><a href="{{ object.id }}/delete" class="deletelink">{% trans "Delete" %}</a></p>
</form>

</div>
{% endif %}

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
