{% extends "admin/base_site.html" %}
{% load i18n ngwtags %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
{% include "membership_inlineform.html" %}
<div class="module padded">
    {% if object.is_answer %}{% trans "From" %}{% else %}{% trans "To" %}{% endif %}:
    <a href="{{cig_url}}/">{{object.contact.name}}</a>
    (
    <a href="javascript:inline_edit_membership('{{membership_title|escapejs}}', '{{cig_url|escapejs}}', '{{ membership }}');">
    {{ membership_str }}
    </a>
    )<br>
    {% if object.is_answer %}{% trans "Received" %}{% else %}{% trans "Sent" %}{% endif %}: {{object.send_date}} UTC<br>
    {% trans "Subject" %}: {{object.subject}}<br>
    {% if not object.is_answer and object.read_date %}
        {% trans "Read by recipent" %}: {{ object.read_date }} UTC<br>
    {% endif %}
    <br>
    {{ object.text|linebreaksbr }}
</div>

{% for message in object.get_related_messages %}
{% if forloop.first %}
<h3>{% trans "Related messages" %}</h3>
<ul>
{% endif %}
<li><a href={{message.id}}>{{ message.nice_flags}} {{ message.send_date }} - {{ message.subject }}</a>
{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}

{% if 'X' in cg_perms and object.is_answer %}
<div class="submit-row">
<form method=post>
{% csrf_token %}
{% if reply_url %}
<a class='button' href="{{reply_url}}">Reply</a>
{% endif %}
<input type=submit name=unread value="{% trans "Flag as unread" %}">
</form>
</div>
{% endif %}

</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
