{% extends "base.html" %}
{% load i18n staticfiles ngwtags %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
    {% for n in news %}
    <div class=module>
    <h2>
        {% if 'N' in cg_perms %}<a href="{{n.get_absolute_url}}">{% endif %}
        {{ n.title }}
        {% if 'N' in cg_perms %}</a>{% endif %}
    </h2>
    <p>
        <b>{{ n.date|date:"DATE_FORMAT" }}</b> - {% trans "by" %} <a href="../members/{{ n.author.id}}/"> {{ n.author }}</a><br>
        {{ n.text|linebreaksbr }}
    </p>
    </div>
    {% empty %}
    <div class=fullpagebox>
    {% trans "There are no news for that group." %}
    </div>
    {% endfor %}

    {% if paginator %}
    <p class="paginator padded" style="border-top: none;">
        {% ifnotequal paginator.num_pages 1 %}
            {% blocktrans count npages=paginator.num_pages %}{{ npages }} page{% plural %}{{ npages }} pages{% endblocktrans %}
            -
            {% for i in page_obj.number|pagenumber_iterator:paginator.num_pages %}
                {% ifnotequal page_obj.number i %}
                <a href={{baseurl}}&amp;_order={{order}}&amp;_page={{i}}>
                {% else %}
                <span class="this-page">
                {% endifnotequal %}
                {{i}}
                {% ifnotequal page_obj.number i %}
                </a>
                {% else %}
                </span>
                {% endifnotequal %}&nbsp;
            {% endfor %}
            -
        {% endifnotequal %}
        {% blocktrans count count=paginator.count %}{{ count }} result{% plural %}{{ count }} results{% endblocktrans %}
    </p>
    {% endif %}

    {% block submitbar %}
    {% if 'N' in cg_perms %}
    <div class="submit-row">
    <a class=button href="add"><img src="{% static "admin/img/icon_addlink.gif" %}" border=0> {% trans "Add" %} {{ objtype.get_class_verbose_name }}</a>
    </div>
    {% endif %}
    {% endblock %}
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
