{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
<form method="post">
<div class=module>
{% csrf_token %}
    <table class=objchange>
    {{ form.as_table }}
    </table>
</div>

    {% block submitbar %}
    <div class="submit-row">
      <input type=submit class=default value="{% trans "Set new password" %}" size="10" maxlength="10">
      {% if PASSWORD_LETTER %}
      {% ifnotequal contact.id user.id %}
      <a class=button href=pass_letter>{% trans "Reset password by mail letter" %}</a>
      {% endifnotequal %}
      {% endif %}
    </div>
    {% endblock %}

</form>
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
