{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
<form method="post">
{% csrf_token %}
<div class=module>
	<div class=padded>
{% blocktrans with name=contact.name %}
<p>You are about to generate a new password for user {{ name }}.
<p>That user will no longer be able to log in until he knows the new value.
{% endblocktrans %}
	</div>

    {% block submitbar %}
    <div class="submit-row">
      <input type=submit class=default value="{% trans "Reset password and make letter" %}">
    </div>
    {% endblock %}

</form>
</div>
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
