{% load i18n ngwtags %}
{% comment %}
That file must be included in a full template.
Context:
    query: A iterable object
    cols: A list of 4-tuples: ("column title", "function", "property or method NAME of the row", "matching table column for sort")
Optionnal parameters:
    order: number of the column used to sort
{% endcomment %}

<div class="results">
{#<form id="changelist-form" action="" method="post">{% csrf_token %} THIS IS BUGGY: form in form because of membership inline edition #}
<table id=result_list>
{% for row in query %}
    {% if not forloop.counter0 %}
        <thead>
        <tr>
        {% for col in cols %}
            <th scope="col" class="{% if col|get_notnull:3 %}sortable{% endif %}">
            <div class="text">
            {% if order|order_absmatch:forloop.counter0 %}<span style="float:right;">{% if order|order_isreverted %}▼{% else %}▲{% endif %}</span>{% endif %}
            {% if col|get_notnull:3 %}<a href="{{baseurl}}&amp;_order={% if order|order_absmatch:forloop.counter0 %}{% if not order|order_isreverted %}-{% endif %}{% endif  %}{{ forloop.counter0 }}">{% endif %}
            {{col|get:0}}
            {% if col|get_notnull:3 %}</a>{% endif %}
            </div>
            <div class=clear></div>
        {% endfor %}
        <tbody>
    {% endif %}
    <tr class={% cycle 'row1' 'row2' %}>
    {% for col in cols %}
        <td>{{row|ngw_display:col|safe}} <!-- TODO: check safe -->
    {% endfor %}
{% endfor %}
</table>
{% if paginator %}
<p class=paginator>
    {% ifnotequal paginator.num_pages 1 %}
        {% blocktrans count npages=paginator.num_pages %}{{ npages }} page{% plural %}{{ npages }} pages{% endblocktrans %}
        -
        {% for i in page_obj.number|pagenumber_iterator:paginator.num_pages %}
            {% ifnotequal page_obj.number i %}
            <a href={{baseurl}}&amp;_order={{order}}&amp;_page={{i}}>
            {% else %}
            <span class="this-page">
            {% endifnotequal %}
            {{i}}
            {% ifnotequal page_obj.number i %}
            </a>
            {% else %}
            </span>
            {% endifnotequal %}&nbsp;
        {% endfor %}
        -
    {% endifnotequal %}
    {% blocktrans count count=paginator.count %}{{ count }} result{% plural %}{{ count }} results{% endblocktrans %}
</p>
{% endif %}
{#</form>#}
</div>
{# vim: set et ts=4 ft=htmldjango: #}
