{% load i18n ngwtags %}
{% comment %}
That file must be included in a full template.
Context:
    query: A iterable object
    cols: A list of 4-tuples: ("column title", "function", "property or method NAME of the row", "matching table column for sort")
Optionnal parameters:
    order: number of the column used to sort
{% endcomment %}

<form id="changelist-form" action="" method="post">{% csrf_token %}
{% if actions %}
<div class="actions">
    <label>Action :<select name="action">
    {% for action_name, action_desc in actions %}
    <option value="{{ action_name }}">{{ action_desc }}
    {% endfor %}
    </select>
    </label>
    <button type="submit" class="button" title="{% trans "Run the selected action" %}" name="index" value="0">{% trans "Go" %}</button>
    <script type="text/javascript">var _actions_icnt="{{query|length|default:"0" }}";</script>
    <span class="action-counter">0 of {{query|length|default:"0" }} selected</span>
</div>
{% endif %}

<div class="results">
<table id=result_list>
{% for row in query %}
    {% if not forloop.counter0 %}
        <thead>
        <tr>
        {% if actions %}
        <th scope="col"  class="action-checkbox-column">
            <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
            <div class="clear"></div>
        </th>
        {% endif %}
        {% for col in cols %}
            <th scope="col" class="{% if col|get_notnull:3 %}sortable{% endif %} {% if order|order_absmatch:forloop.counter0 %}sorted {% if order|order_isreverted %}descending{% else %}ascending{% endif %}{% endif %}">
            {% if order|order_absmatch:forloop.counter0 %}
            <div class="sortoptions">
                <a href="{{baseurl}}&amp;_order={% if order|order_absmatch:forloop.counter0 %}{% if not order|order_isreverted %}-{% endif %}{% endif %}{{ forloop.counter0 }}" class="toggle {% if order|order_isreverted %}descending{% else %}ascending{% endif %}"></a>
            </div>
            {% endif %}
            <div class="text">
            <span>
            {% if col|get_notnull:3 %}<a href="{{baseurl}}&amp;_order={% if order|order_absmatch:forloop.counter0 %}{% if not order|order_isreverted %}-{% endif %}{% endif %}{{ forloop.counter0 }}">{% endif %}
            {{col|get:0}}
            {% if col|get_notnull:3 %}</a>{% endif %}
            </span>
            </div>
            <div class=clear></div>
        {% endfor %}
        <tbody>
    {% endif %}
    <tr class={% cycle 'row1' 'row2' %}>
    {% if actions %}
    <td class="action-checkbox"><input class="action-select" name="_selected_action" type="checkbox" value="{{row.pk}}" />
    {% endif %}
    {% for col in cols %}
        <td>{{row|ngw_display:col|safe}} <!-- TODO: check safe -->
    {% endfor %}
{% endfor %}
</table>
</div>
{% if paginator %}
<p class=paginator>
    {% ifnotequal paginator.num_pages 1 %}
        {% blocktrans count npages=paginator.num_pages %}{{ npages }} page{% plural %}{{ npages }} pages{% endblocktrans %}
        -
        {% for i in page_obj.number|pagenumber_iterator:paginator.num_pages %}
            {% ifnotequal page_obj.number i %}
            <a href={{baseurl}}&amp;_order={{order}}&amp;_page={{i}}>
            {% else %}
            <span class="this-page">
            {% endifnotequal %}
            {{i}}
            {% ifnotequal page_obj.number i %}
            </a>
            {% else %}
            </span>
            {% endifnotequal %}&nbsp;
        {% endfor %}
        -
    {% endifnotequal %}
    {% blocktrans count count=paginator.count %}{{ count }} result{% plural %}{{ count }} results{% endblocktrans %}
</p>
{% endif %}
</form>
{# vim: set et ts=4 ft=htmldjango: #}
