{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
    <form method=post>
    {% csrf_token %}
    <input type=hidden name=id value="{{id}}">
    <input type=hidden name=name value="{{name}}">
    <input type=hidden name=hint value="{{hint}}">
    <input type=hidden name=contact_group value="{{contact_group}}">
    <input type=hidden name=type value="{{type}}">
    <input type=hidden name=choice_group value="{{choice_group}}">
    <input type=hidden name=move_after value="{{move_after}}">
    {% blocktrans with fieldtype=cf.get_class_verbose_name fieldname=cf.name %}You are about to change the {{ fieldtype }} {{ fieldname }}. However, some existing data is not compatible with the new type you selected. The only choice is to delete these records.{% endblocktrans %}
    <p>{% trans "The following data will be deleted" %}:
    <p>{% for key,value in deletion_details %}
        {{ key }}: {{ value }}<br>
    {% endfor %}
        {% block submitbar %}
        <div class="submit-row">
        <a class="button default" href="javascript:history.back()">{% trans "Back" %}</a>
        <input type=submit name=confirm value="{% trans "Delete incompatible data" %}">
        </div>
        {% endblock %}
    </form>
</div>
{% endblock %}
{# vim: set et ts=4 ft=htmldjango: #}
