body {
    margin: 0;
    font-family: sans-serif;
/*    background-color: #f0f0f0;*/
}
body, table {
    font-size: 90%;
}
a[href] {
    text-decoration: none;
	color: #141466;
}
a[href]:hover {
    text-decoration: underline;
}

a img { 
    border:none;
}

#banner {
	background: lightblue;
	border-bottom: 1px solid darkblue;
	padding: 5px;
	padding-bottom: 0px;
}
#banner #sitetitle {
	float: left;
	margin-left: 0.5ex;
	font-size: 130%;
	/*
	font-weight:bold;
	font-size:200%;
	*/
}
#banner #userinfo {
	float: right;
}
#banner #userinfo a[href] {
	text-decoration:underline;
}

#banner #tabs a[href] {
    display: inline-block;
    background: #eee;
    border: 1px solid darkblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom: none;
    margin: 0.7ex -1ex 0ex 3ex;
    padding: 0.5ex 1ex 0.5ex 1ex;
    font-weight: bold;
    font-size: 120%;
}
#banner #tabs a[href]:hover {
    background: white;
}
#banner #tabs a[href]#active {
    background: white;
    margin-bottom: -1px;
    border-bottom: 1px solid white;
}

#nav {
    border-bottom: 1px solid #ccc;
    padding: 0ex;
    padding-left: 1ex;
}

#footer {
    text-align: center;
    background: lightblue;
    border-top: 1px solid darkblue;
    font-size: 70%;
}

#main {
    padding: 0;
}
div#title, h1 {
    font-weight:bold;
    font-size: 120%;
}
h1.boxheader {
    margin-bottom: 0px;
}
div.box {
    border: 1px solid #999;
    padding: 1ex;
    margin-bottom: 2ex;
}

table {
    border-collapse: collapse;
    border: 1px solid #999;
}

table tr.rowodd {
    background: #EDF3FE;
}
table tr.roweven {
    background: white;
}

th + th ,  th + td , td + th, td + td { /* all but first line */
    border-left: 1px solid #ccc;
}

table.objlist {
    width: 100%;
}
table.objlist thead th {
    text-align: left;
    border-bottom: 1px solid #999;
    padding-left: 0.5ex;
    background: url(/admin/img/nav-bg.gif) bottom repeat-x;
    background-color: #fff;
}
table.objlist thead th.sorted {
    background:url(/admin/img/arrow-up.gif) right .4em no-repeat;
}
table.objlist thead th.sorted_reverse {
    background:url(/admin/img/arrow-down.gif) right .4em no-repeat;
}

table.objlist td {
    padding: 0.5ex;
}

table.objlist tr#objsummary {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    font-size: 80%;
}

table.objchange {
    width: 100%;
    padding: 0;
}

table.objchange tr + tr { /* all but first line */
    border-top: 1px solid #999;
}

table.objchange td, table.objchange th {
    padding: 0.5ex;
}
table.objchange td {
    font-size: 80%;
}
table.objchange th {
    text-align: left;
    padding-left: 1ex;
    font-weight: normal;
}


table.objchange ul.multiplechoice {
    padding: 0;
}
table.objchange ul.multiplechoice li {
    font-size: 120%;
    display: inline;
}

ul.errorlist {
    background-color: red;
    padding: 0ex;
    padding-left: 28px;
    margin-bottom: 1ex;
    border:1px solid black;
    font-weight:bold;
    color: white;
    list-style-image: url(/admin/img/icon_alert.gif);
}
ul.errorlist li {
/*    padding: 0;
    margin: 0;
    */
}
input[type=text], textarea {
    border:1px solid #ccc;
    width: 100%;
}

#submitbar, .submitbar {
    width: auto;
    display: block;
    overflow: auto;
    margin-top: 2ex;
    padding: 0.5ex;
    border: solid 1px #999;
    text-align: center;
}

input[type=submit] , #submitbar a, .submitbar a, #submitbar .pseudotitle {
    /*display: inline-block;*/
    float: left;
    font-size: 90%; /* needed 100%*/
    text-decoration: none;
    border: 1px solid #999;
    background: #fcd;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 3ex;
    padding-right: 3ex;
    margin-left: 2ex;
    margin-right: 2ex; 
    margin-top: 0.5ex;  /* same as #submitbar/padding */ 
    margin-bottom: 0.5ex; 
    font-weight:bold; 

    background: url(/admin/img/nav-bg.gif) bottom repeat-x;
    color: black;
}
input[type=submit]:hover , #submitbar a:hover, .submitbar a:hover {
    background: url(/admin/img/nav-bg-reverse.gif) top repeat-x;
}

input[type=submit]#default , #submitbar a#default, .submitbar a#default {
    background: #7CA0C7 url(/admin/img/default-bg.gif) bottom repeat-x;
    color:white;
    
}
input[type=submit]:hover#default , #submitbar a:hover#default, .submitbar a:hover#default {
    background: #7CA0C7 url(/admin/img/default-bg-reverse.gif) top repeat-x;
}


form {
    margin: 0px;
}
br.clearall {
    clear: both;
}

/* Hack for admin multiple select widget */
.selector h2 {
    margin-bottom: 0px;
}
