body {
    margin: 0;
    font-family: sans-serif;
/*    background-color: #f0f0f0;*/
}
body, table {
    font-size: 90%;
}
a[href] {
    text-decoration: none;
	color: #141466;
}
a[href]:hover {
    text-decoration: underline;
}

a img { 
    border:none;
}

#banner {
	background: lightblue;
	border-bottom: 1px solid darkblue;
	padding: 5px;
	padding-bottom: 0px;
}
#banner #sitetitle {
	float: left;
	margin-left: 0.5ex;
	font-size: 130%;
	/*
	font-weight:bold;
	font-size:200%;
	*/
}
#banner #userinfo {
	float: right;
}
#banner #userinfo a[href] {
	text-decoration:underline;
}

#banner #tabs a[href] {
    display: inline-block;
    background: #eee;
    border: 1px solid darkblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom: none;
    margin: 0.7ex -1ex 0ex 3ex;
    padding: 0.5ex 1ex 0.5ex 1ex;
    font-weight: bold;
    font-size: 120%;
}
#banner #tabs a[href]#active {
    background: white;
    margin-bottom: -1px;
    border-bottom: 1px solid white;
}

#nav {
    border-bottom: 1px solid #ccc;
    padding: 0ex;
    padding-left: 1ex;
}
 
#main {
    padding: 1ex;
}
div#title, h1 {
    font-weight:bold;
    font-size: 120%;
}
h1.boxheader {
    margin-bottom: 0px;
}
div.box {
    border: 1px solid #999;
    padding: 1ex;
    margin-bottom: 2ex;
}

table {
    border-collapse: collapse;
    border: 1px solid #999;
}

table tr.rowodd {
    background: #EDF3FE;
}
table tr.roweven {
    background: white;
}

th + th ,  th + td , td + th, td + td { /* all but first line */
    border-left: 1px solid #ccc;
}

table.objlist {
    width: 100%;
}
table.objlist thead th {
    text-align: left;
    border-bottom: 1px solid #999;
    padding-left: 0.5ex;
    background: url(/media/img/admin/nav-bg.gif) bottom repeat-x;
    background-color: #fff;
}
table.objlist thead th.sorted {
    background:url(/media/img/admin/arrow-up.gif) right .4em no-repeat;
}
table.objlist thead th.sorted_reverse {
    background:url(/media/img/admin/arrow-down.gif) right .4em no-repeat;
}

table.objlist td {
    padding: 0.5ex;
}

table.objlist tr#objsummary {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    font-size: 80%;
}

table.objchange {
    width: 100%;
    padding: 0;
}

table.objchange tr + tr { /* all but first line */
    border-top: 1px solid #999;
}

table.objchange td, table.objchange th {
    padding: 0.5ex;
}
table.objchange td {
    font-size: 80%;
}
table.objchange th {
    text-align: left;
    padding-left: 1ex;
    font-weight: normal;
}


table.objchange ul.multiplechoice {
    padding: 0;
}
table.objchange ul.multiplechoice li {
    font-size: 120%;
    display: inline;
}

ul.errorlist {
    background-color: red;
    padding: 0ex;
    padding-left: 28px;
    margin-bottom: 1ex;
    border:1px solid black;
    font-weight:bold;
    color: white;
    list-style-image: url(/media/img/admin/icon_alert.gif);
}
ul.errorlist li {
/*    padding: 0;
    margin: 0;
    */
}
input[type=text], textarea {
    border:1px solid #ccc;
    width: 100%;
}

#submitbar, .submitbar {
    width: auto;
    display: block;
    overflow: auto;
    margin-top: 2ex;
    padding: 0.5ex;
    border: solid 1px #999;
    text-align: center;
}

input[type=submit] , #submitbar a, .submitbar a, #submitbar .pseudotitle {
    /*display: inline-block;*/
    float: left;
    font-size: 90%; /* needed 100%*/
    border: 1px solid #999;
    background: #fcd;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 3ex;
    padding-right: 3ex;
    margin-left: 2ex;
    margin-right: 2ex; 
    margin-top: 0.5ex;  /* same as #submitbar/padding */ 
    margin-bottom: 0.5ex; 
    font-weight:bold; 

    background: url(/media/img/admin/nav-bg.gif) bottom repeat-x;
    color: black;
}
input[type=submit]:active , #submitbar a:active, .submitbar a:active {
    background: url(/media/img/admin/nav-bg-reverse.gif) top repeat-x;
}

input[type=submit]#default , #submitbar a#default, .submitbar a#default {
    background: #7CA0C7 url(/media/img/admin/default-bg.gif) bottom repeat-x;
    color:white;
    
}
input[type=submit]:active#default , #submitbar a:active#default, .submitbar a:active#default {
    background: #7CA0C7 url(/media/img/admin/default-bg-reverse.gif) top repeat-x;
}

/* SELECTOR (FILTER INTERFACE) */
.selector { width:580px; float:left; }
.selector select { width:270px; height:17.2em; }
.selector-available, .selector-chosen { float:left; width:270px; text-align:center; margin-bottom:5px; }
.selector-available h2, .selector-chosen h2 { border:1px solid #ccc; margin-bottom:0px; }
.selector .selector-available h2 { background:white url(/media/img/admin/nav-bg.gif) bottom left repeat-x; color:#666; }
.selector .selector-filter { background:white; border:1px solid #ccc; border-width:0 1px; padding:3px; color:#999; font-size:10px; margin:0; text-align:left; }
.selector .selector-chosen .selector-filter { padding:4px 5px; }
.selector .selector-available input { width:230px; }
.selector ul.selector-chooser { float:left; width:22px; height:50px; background:url(/media/img/admin/chooser-bg.gif) top center no-repeat; margin:8em 3px 0 3px; padding:0; }
.selector-chooser li { margin:0; padding:3px; list-style-type:none; }
.selector select { margin-bottom:5px; margin-top:0; }
.selector-add, .selector-remove { width:16px; height:16px; display:block; text-indent:-3000px; }
.selector-add { background:url(/media/img/admin/selector-add.gif) top center no-repeat; margin-bottom:2px; }
.selector-remove { background:url(/media/img/admin/selector-remove.gif) top center no-repeat; }
a.selector-chooseall, a.selector-clearall { display:block; width:6em; text-align:left; margin-left:auto; margin-right:auto; font-weight:bold; color:#666;  padding:3px 0 3px 18px; }
a.selector-chooseall:hover, a.selector-clearall:hover { color:#036; }
a.selector-chooseall { width:7em; background:url(/media/img/admin/selector-addall.gif) left center no-repeat; }
a.selector-clearall { background:url(/media/img/admin/selector-removeall.gif) left center no-repeat; }

/* STACKED SELECTORS */
.stacked { float:left; width:500px; }
.stacked select { width:480px; height:10.1em; }
.stacked .selector-available, .stacked .selector-chosen { width:480px; }
.stacked .selector-available { margin-bottom:0; }
.stacked .selector-available input { width:442px; }
.stacked ul.selector-chooser { height:22px; width:50px; margin:0 0 3px 40%; background:url(/media/img/admin/chooser_stacked-bg.gif) top center no-repeat; }
.stacked .selector-chooser li { float:left; padding:3px 3px 3px 5px; }
.stacked .selector-chooseall, .stacked .selector-clearall { display:none; }
.stacked .selector-add { background-image:url(/media/img/admin/selector_stacked-add.gif); }
.stacked .selector-remove { background-image:url(/media/img/admin/selector_stacked-remove.gif); }

/* DATE AND TIME */
p.datetime { line-height:20px; margin:0; padding:0; color:#666; font-size:11px; font-weight:bold; }
.datetime span { font-size:11px; color:#ccc; font-weight:normal; white-space:nowrap; }
table p.datetime { font-size:10px; margin-left:0; padding-left:0; }

/* CALENDARS & CLOCKS */
.calendarbox, .clockbox { margin:5px auto; font-size:11px; width:16em; text-align:center; background:white; position:relative; }
.clockbox { width:auto; }
.calendar { margin:0; padding: 0; }
.calendar table { margin:0; padding:0; border-collapse:collapse; background:white; width:99%; }
.calendar caption, .calendarbox h2 { margin: 0; font-size:11px; text-align:center; border-top:none; }
.calendar th { font-size:10px; color:#666; padding:2px 3px; text-align:center; background:#e1e1e1 url(/media/img/admin/nav-bg.gif) 0 50% repeat-x; border-bottom:1px solid #ddd; }
.calendar td { font-size:11px; text-align: center; padding: 0; border-top:1px solid #eee; border-bottom:none; }
.calendar td.selected a { background: #C9DBED; }
.calendar td.nonday { background:#efefef; }
.calendar td.today a { background:#ffc; }
.calendar td a, .timelist a { display: block; font-weight:bold; padding:4px; text-decoration: none; color:#444; }
.calendar td a:hover, .timelist a:hover { background: #5b80b2; color:white; }
.calendar td a:active, .timelist a:active { background: #036; color:white; }
.calendarnav { font-size:10px; text-align: center; color:#ccc; margin:0; padding:1px 3px; }
.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover { color: #999; }
.calendar-shortcuts { background:white; font-size:10px; line-height:11px; border-top:1px solid #eee; padding:3px 0 4px; color:#ccc; }
.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next { display:block; position:absolute; font-weight:bold; font-size:12px; background:#C9DBED url(/media/img/admin/default-bg.gif) bottom left repeat-x; padding:1px 4px 2px 4px; color:white; }
.calendarnav-previous:hover, .calendarnav-next:hover { background:#036; }
.calendarnav-previous { top:0; left:0; }
.calendarnav-next { top:0; right:0; }
.calendar-cancel { margin:0 !important; padding:0; font-size:10px; background:#e1e1e1 url(/media/img/admin/nav-bg.gif) 0 50% repeat-x;  border-top:1px solid #ddd; }
.calendar-cancel a { padding:2px; color:#999; }
ul.timelist, .timelist li { list-style-type:none; margin:0; padding:0; }
.timelist a { padding:2px; }

form {
    margin: 0px;
}
br.clearall {
    clear: both;
}

