<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<title>{{ title|safe }}</title>
<script src='/javascript/jquery/jquery.js' type='text/javascript'></script>
<link rel="stylesheet" type="text/css" href="/ngw.css">
<table id=banner>
<tr>
<td id=sitetitle>{{ banner|safe }}
{% if user.id %} <td id=userinfo>Welcome <a href="{{user.get_absolute_url}}">{{ user }}</a> • <a href="https://logout@{{request.META.HTTP_HOST}}/logout">Logout</a>{% endif %}
</table>

<div id=nav>
{% if user.id %}
{{ nav|safe }}
{% endif %}
</div>

{% for msg in messages %}
<div style="border: 1px solid #999; padding:1ex; margin:1ex; background: #ffc;">
{{ msg }}
</div>
{% endfor %}

<div id=main>
<div id=title>{{ title }}</div>
{% block body %}
<p>No body.
{% endblock %}
</div>
</html>
