{% extends "base.html" %}
{% load ngwtags %}

{% block nav %}
{{ block.super }}
› <a href="{{contact.get_class_absolute_url}}">{{ contact.get_class_verbose_name_plural }}</a>
› {{ contact.name }}
{% endblock %}

{% block body %}
    <table class=objlist>
    <tr><td>
    
    {% for row in rows %}
        {{ row|get:0|name_internal2nice }}: <b>{{ row|get:1 }}</b><br>
    {% endfor %}
    {% for g in contact.get_directgroups_member %}
        {% if not forloop.counter0 %}Member of groups:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;<b><a href="{{ g.get_link }}">{{ g.name }}</a></b>{% if g.date %} {{ g.date }}{% endif %} {{ g.supergroups_includinghtml|safe }}<br> 
    {% endfor %}
    {% for g in contact.get_allgroups_invited %}
        {% if not forloop.counter0 %}Invited in groups:<br>{% endif %}
        &nbsp;&nbsp;&nbsp;<b><a href="{{ g.get_link }}">{{ g.name }}</a></b>{% if g.date %} {{ g.date }}{% endif %} {{ g.supergroups_includinghtml|safe }}<br> 
    {% endfor %}

    </table>

    {% block submitbar %}
    <div id=submitbar>
      {% if user.is_admin %}
      <a id=default href="{{contact.get_class_absolute_url}}">Contact list</a>
      {% endif %}
      <a href="{{contact.get_absolute_url}}edit">Edit</a>
      <a href="{{contact.get_absolute_url}}vcard">VCard</a>
      <a href="http://maps.google.com/maps?q={{ contact.get_addr_semicol }}">Google map</a>
      {% if contact.login %}
      <a href="{{contact.get_absolute_url}}pass">Change password</a>
      {% endif %}
    </div>
    {% endblock %}

{% endblock %}
