{% extends "base.html" %}
{% load i18n %}
{% load ngwtags %}

{% block body %}
    <div class=box>
    {% if filters %}
        {% for f in filters %}
        ‣ <a href="./{{forloop.counter0}}">{{f}}</a><br>
        {%comment%}{{f|get:1|safe}}<br>{%endcomment%}
        {% endfor %}
        </div>
    {% else %}
        {% trans "That user has no custom filter." %}
    {% endif %}

    {% block submitbar %}
    {%comment%}
    <div id=submitbar>
    <a href="{{ contact.get_absolute_url}}" id=default>Contact details</a>
    </div>
    {%endcomment%}
    {% endblock %}
{% endblock %}
