{% extends "base.html" %}
{% load ngwtags %}

{% block body %}
    {{form.media|safe}}
    <form method="post">
    <table class=objchange>
    {{ form.as_table }}
    <tr>
    <th>Filter
    <td>{{ filter_html|safe }}
    </table>

    {% block submitbar %}
    <div id=submitbar>
    <input type=submit value="Save" id="default">
    {%comment%}<a href="./delete"><img src="/media/admin/img/icon_deletelink.gif" border=0 valign=middle> Delete</a>{%endcomment%}
    </div>
    {% endblock %}
{% endblock %}
