{% extends "base.html" %}
{% load ngwtags %}

{% block nav %}
{{ block.super }}
› <a href="{{ contact.get_class_absolute_url }}">{{ contact.get_class_verbose_name_plural }}</a>
› <a href="{{ contact.get_absolute_url }}">{{ contact }}</a>
› custom filters
{% endblock %}

{% block body %}
    <div class=box>
    {% if filters %}
        {% for f in filters %}
        ‣ <a href="./{{forloop.counter0}}">{{f|get:0}}</a><br>
        {%comment%}{{f|get:1|safe}}<br>{%endcomment%}
        {% endfor %}
        </div>
    {% else %}
        That user has no custom filter.
    {% endif %}

    {% block submitbar %}
    {%comment%}
    <div id=submitbar>
    <a href="{{ contact.get_absolute_url}}" id=default>Contact details</a>
    </div>
    {%endcomment%}
    {% endblock %}
{% endblock %}
