{% extends "base.html" %}

{% block nav %}
{{ block.super }}
› <a href="{{objtype.get_class_absolute_url}}">{{objtype.get_class_verbose_name_plural}}</a>
› {% if id %}{{ o }}{% else %}add{% endif %}
{% endblock %}

{% block body %}
{{form.media|safe}}
{% comment %}{{ form.errors }}{% endcomment %}
<form method="post">
<table class=objchange>
{{ form.as_table }}
</table>

    {% block submitbar %}
    <div id=submitbar>
    <input type=submit value="Save" id="default">
    {% if not id %}<input type=submit value="Save and add another" name="_addanother">{% endif %}
    <input type=submit value="Save and continue editing" name="_continue">
    {% if id %}
    <a href="{{o.get_absolute_url}}delete"><img src="/media/img/admin/icon_deletelink.gif" border=0 valign=middle> Delete</a>
    {% endif %}
    </div>
    {% endblock %}

</form>
{% endblock %}
