{% extends "base.html" %}
{% load ngwtags %}

{% block body %}
    <h1 class=boxheader>Memberships</h1>
    <div class=box>
    Include members: {% if display_member %}Yes{% else %}No{% endif %} -
    Include invited: {% if display_invited %}Yes{% else %}No{% endif %} -
    Include declined invitations: {% if display_declined %}Yes{% else %}No{% endif %} -
    Include subgroups: {% if display_subgroups %}Yes{% else %}No{% endif %}
    </div>
    {% if strfilter %}
    <h1 class=boxheader>Filter</h1>
    <div class=box>
    {{filter.to_html|safe}}<br>
    </div>
    {% endif %}
    <p>Don't forget to <b>use Bcc</b> whenever you can!
    <p>
    {% for email in emails %}
    {{ email|get:0 }} &lt;{{ email|get:1 }}&gt;<br>
    {% endfor %}
    {% if noemails %}
        <p>Warning, the following people does not have any email adress:<br>
        {% for contact in noemails %}
        <a href="{{ contact.get_absolute_url }}">{{ contact.name }}</a><br>
        {% endfor %}
    {% endif %}

    {% block submitbar %}
    <div id=submitbar>
      <a href="mailto:{% for email in emails %}{% if forloop.counter0 %},{% endif %}{{ email|get:1 }}{% endfor %}">Send mail To</a>
      <a href="mailto:?bcc={% for email in emails %}{% if forloop.counter0 %},{% endif %}{{ email|get:1 }}{% endfor %}" id=default>Send mail Bcc</a>
    </div>
    {% endblock %}
{% endblock %}
