<style>
.activeSelectionItem {
    font-size:140%;
    font-weight:bold;
}
</style>

<h1 class="boxheader">Current filter</h1>
<div id="curent_filter" style="text-align:left;" class=box>
{{filter_html}}
</div>
<div class=submitbar>
<a href="javascript:document.forms['mainform'].submit();" id=default>Apply filter</a>
<a href="javascript:set_filter('');select_grouptype(null);">Reset filter</a>
<a href="javascript:document.location='{{user.get_absolute_url}}'+'filters/add?filterstr='+document.getElementById('filter').value;">Save filter</a>
</div>


<h1 class="boxheader">Add condition</h1>
<div class=box>
Type of filter:
<a href="javascript:select_grouptype('field')" id="filter_group_field">Fields</a> |
<a href="javascript:select_grouptype('group')" id="filter_group_group">Groups</a> |
<a href="javascript:select_grouptype('event')" id="filter_group_event">Events</a> |
<a href="javascript:select_grouptype('custom')" id="filter_group_custom">Custom</a>
</div>

<div id="list_field" class=box>
</div>

<div id="list_filters" class=box>
</div>

<div id="filter_param" class=box>
</div>

