{% extends "list_contact.html" %}

{% block nav %}
  <a href="/">Home</a>
› <a href="{{ cg.get_class_absolute_url }}">{{ cg.get_class_verbose_name_plural }}</a>
› {{ cg.name }}
{% endblock %}

{% block body %}
    {% if cg.description %}{{ cg.description }}<br><br>{% endif %}
    {% if cg.date %}Date: <b>{{ cg.date }}</b><br>{% endif %}
    {% if cg.budget_code %}Budget code: {{ cg.budget_code }}<br>{% endif %}

    {{ block.super }}

    {% comment %}
    {% with cg.get_direct_invited.count as ci %}
        {{ ci }} contact{{ ci|pluralize }} {{ ci|pluralize:"have,has" }} been invited in that group, but {{ ci|pluralize:"are,is" }} not member yet.
    {% endwith %}
    {% endcomment %}
{% endblock %}

{% block presubmitbar %}
    {% if cg.direct_subgroups %}
        <h1 class=boxheader>Sub groups</h1>
        <div class=box>
        People in sub-groups automatically are members.
        <br>
        {% for sg in cg.direct_subgroups  %}
        ‣ <a href="{{ sg.get_link }}">{{ sg.name }}</a>{{sg.subgroups_includinghtml|safe}}<br>
        {% endfor %}
        </div>
    {% endif %}
    
    {% for f in files %}
        {% if forloop.first %}
            <h1 class=boxheader>Files</h1>
            <div class=box>
        {% endif %}
        ‣ <a href="/static/g/{{cg.id}}/{{f}}">{{f}}</a><br>
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

    
{% block submitbar %}
<div id=submitbar>
  <a href="javascript:show_field_selection();" id=default> Select displayed columns</a>
    <a href="{{cg.get_absolute_url}}edit">Edit</a>
    <a href="{{cg.get_absolute_url}}emails">Emails</a>
    <a href="?display={{display}}&amp;output=vcard">Vcards</a> 
    {% ifnotequal display "mi" %}
        <a href="?display=mi">Show invited and members</a>  
    {% endifnotequal %}
    {% ifnotequal display "m" %}
        <a href="?display=m">Show only members</a>  
    {% endifnotequal %}
    {% ifnotequal display "i" %}
        <a href="?display=i">Show only invited</a>  
    {% endifnotequal %}
    {% ifnotequal display "d" %}
        <a href="?display=d">Show only declined invitation</a>  
    {% endifnotequal %}
    {% ifnotequal display "o" %}
        <a href="?display=o">Show only operators</a>  
    {% endifnotequal %}
    {% if cg.field_group %}
    <a href="/contacts/add?default_group={{cg.id}}"><img src="/media/img/admin/icon_addlink.gif" border=0> Create a new contact in that group</a>
    {% endif %}
    <a href="news/">News</a> 
</div>
{% endblock %}
