{% extends "base.html" %}

{% block nav %}
{{ block.super }}
› <a href="{{ cg.get_class_absolute_url }}">{{ cg.get_class_verbose_name_plural }}</a>
› {{ cg.name }}
{% endblock %}

{% block body %}
    {% if cg.description %}{{ cg.description }}<br><br>{% endif %}
    {% if cg.date %}Date: <b>{{ cg.date }}</b><br>{% endif %}
    {% if cg.budget_code %}Budget code: {{ cg.budget_code }}<br>{% endif %}
    <br>
    {% include "query_entities.html" %}

    {% comment %}
    {% with cg.get_direct_invited.count as ci %}
        {{ ci }} contact{{ ci|pluralize }} {{ ci|pluralize:"have,has" }} been invited in that group, but {{ ci|pluralize:"are,is" }} not member yet.
    {% endwith %}

    {% comment %}
    {% for contact in cg.get_direct_invited %}
    {% if forloop.first %}
        <h1>Invited members</h1>
        {% endif %}
        ‣ <a href="{{ contact.get_link }}">{{ contact }}</a><br>
    {% endfor %}
    {% endcomment %}

    {% if cg.direct_subgroups %}
        <h1>Sub groups</h1>
        <p>People in sub-groups are automatically members.
        <br>
        {% for sg in cg.direct_subgroups  %}
        ‣ <a href="{{ sg.get_link }}">{{ sg.name }}</a>{{sg.subgroups_includinghtml|safe}}<br>
        {% endfor %}
    {% endif %}
    
    {% for f in files %}
        {% if forloop.first %}
            <h1 class=boxheader>Files</h1>
            <div style="border: 1px solid #999; padding: 1ex;">
        {% endif %}
        &gt;<a href="/static/g/{{cg.id}}/{{f}}">{{f}}</a><br>
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}

    {% block submitbar %}
    <div id=submitbar>
        <a href="{{cg.get_absolute_url}}edit">Edit</a>
        <a href="{{cg.get_absolute_url}}emails">Emails</a>
        <a href="?display={{display}}&amp;output=vcard">Vcards</a>  
        {% ifnotequal display "mi" %}
            <a href="?display=mi">Show invited and members</a>  
        {% endifnotequal %}
        {% ifnotequal display "m" %}
            <a href="?display=m">Show only members</a>  
        {% endifnotequal %}
        {% ifnotequal display "i" %}
            <a href="?display=i">Show only invited</a>  
        {% endifnotequal %}
        {% if cg.field_group %}
        <a href="/contacts/add?default_group={{cg.id}}"><img src="/media/img/admin/icon_addlink.gif" border=0> Create a new contact in that group</a>
        {% endif %}
    </div>
    {% endblock %}
{% endblock %}
