{% extends "base.html" %}

{% block body %}
<form id="contact_list" method="post">
<h1 class="boxheader">Selected people</h1>
<div class=box>
{% for c in query %}
<input type=checkbox name="contact_{{c.id}}" id="contact_{{c.id}}" checked> <label for="contact_{{c.id}}">{{c}}</label><br>
{% endfor %}
<script>
function selectAll(target_checked) {
    inputs = document.getElementById("contact_list").elements;
    for (i=0; i<inputs.length; i++) {
        input = inputs[i];
        input.checked = target_checked;
    }
}
</script>
<a href="javascript:selectAll(true)">Select all</a> - <a href="javascript:selectAll(false)">Unselect all</a>
</div>

<h1 class="boxheader">Select a group</h1>
<div class=box>
<select name=group>
{% for g in groups %}
<option value={{g.id}}>{{g.unicode_with_date}}
{% endfor %}
</select>
</div>

{% block submitbar %}
<div id=submitbar>
    {% comment %}WARNING these 3 values are handled by the view{% endcomment %}
    <input type=submit name="type" value="Invite" id=default>
    <input type=submit name="type" value="Member">
    <input type=submit name="type" value="Declined invitation">
</div>
{% endblock %}
</form>
{% endblock %}
