{% extends "base.html" %}
{% load ngwtags %}

{% block body %}

{% for g in operator_groups %}
{% if forloop.first %}
    <h1 class="boxheader">You are operator of theses groups:</h1>
    <div class=box>
{% endif %}
‣ <a href="{{g.get_absolute_url}}">{{ g.unicode_with_date }}</a><br>
{% if forloop.last %}
    </div>
{% endif %}
{% endfor %}

{% if user.is_admin %}
<h1 class="boxheader">Derniers développements</h1>
<div class=box>
{% for article in news %}
<b>{{ article.date|ngw_date_format }}</b> • <b>{{article.title}}</b><br>
{{ article.text|linebreaksbr }}<br><br>
{% endfor %}
<a href="{{ GroupAdmin.get_absolute_url }}news/">Toutes les news...</a>
</div>
{% endif %}

{% endblock %}
