{% extends "base.html" %}


{% block body %}
{% if user.is_admin %}
<div style="border: 1px solid #999; padding:1ex;">
Welcome {{ user }}!
<br>There are {{ ncontacts }} contacts in the database.

<p>
{%comment%}TODO: quoteescape {%endcomment%}
<form id=realform action="/contacts/search"><input type=hidden name=filter value=""><input type=hidden name=runfilter value=1></form>
<form id=displayedform action="#" onsubmit="javascript:document.forms['realform']['filter'].value='nfilter(startswith,\''+document.forms['displayedform']['filter'].value+'\')'; document.forms['realform'].submit(); return false;">
Quick contact search: <input name=filter id=defaultfocus>
</form>
<script>document.forms['displayedform'].filter.focus();</script>
</div>
{% endif %}

<h1 class="boxheader">Please select an operation:</h1>
<div id=submitbar style="margin-top:0px;">
<a href="contacts/{{user.id}}/">My information</a>
{% if user.is_admin %}
<a href="contactgroups/">Contact Groups</a>
<a href="contacts/">All contacts</a>
<a href="contactfields/">Setup of optional fields</a>
<a href="choicegroups/">Setup of choice lists</a>
{% endif %}
</div>

{% if user.is_admin %}
<h1 class="boxheader">Derniers développements</h1>
<div style="border: 1px solid #999; padding:1ex;">
<b>Coming soon...</b><br>
Nouveau système de recherche de contacts.<br>
<b>Jeudi 21 août</b><br>
Les groupes peuvent maintenant contenir des fichiers. Leur liste est disponible sur la page du groupe. Il n'est pas encore possible d'en ajouter depuis l'interface html.<br>
Les personnes du nouveau groupe "Utilisateur" peuvent désormais se loguer sans etre administrateur. Seuls les administrateurs sont actuellement membres de ce groupe. Il est possible de changer son identifiant ("login") depuis la page d'édition d'un contact qui est utilisateur.<br>
Le champs de type "password" font leur apparition.<br>
<br>
<b>Mardi 19 août</b><br>
Barre de navigation plus détaillée.<br>
<br>
<b>Jeudi 14 août</b><br>
Mise à jour du système, pas de changements visibles à ce niveau là.<br>
Nouvelle gestion des mots de passe. Les fichiers statiques peuvent désormais également etre protégés.<br>
<br>
<b>Vendredi 25 juillet</b><br>
Messages de confirmation quand on enregistre quelque chose.<br>
<br>
<b>Jeudi 24 juillet</b><br>
De nombreux champs on été traduits en français.<br>
Meilleur contrôle quand on change le type d'un champ.<br>
Gestion de messages de confirmation: Uniquement quand on modifie un contact pour le moment.<br>
<br>
<b>Mercredi 23 juillet</b><br>
Beaucoup de changements internes sur la façon de gérer les choses (Passage à Django 1.0) mais peu de changements côté utilisateur.<br>
Il y a désormais une petite interface pour choisir une sélection multiple; Elle est utilisée dans la modification des groupes et des utilisateurs.<br>
<br>
<b>Mardi 22 juillet</b><br>
Druide a désormais accès à cette base.<br>
<br>
<b>Dimanche 22 juin</b>
<br>
Nouvelle gestion des mots de passe. Il est possible de changer le mot de passe d'un contact depuis sa page détaillée. Il n'est en revanche toujours pas possible d'ajouter ni supprimer un accès depuis l'application.<br>
Il n'y a plus de choix par défaut dans les listes de choix. C'était inutile et source de confusion. La valeur "Inconnu" (Unknown) est systématiquement disponible dans tous les choix qui ne sont pas des choix multiples; C'est la valeur par défaut.<br>
Ajout du détail des changements sur la page d'accueil.<br>
Ajout d'un bouton "Mes informations" sur la page d'accueil.<br>
<br>
<b>Vendredi 20 juin</b><br>
L'accès http est désormais coupé. Seul le protocole https est accepté. Le certificat de cryptage n'est pas déclaré nulle part, et il y a donc un avertissement de sécurité lors de la connexion. Il faut ignorer cet avertissement.<br>
<br>
<b>Jeudi 19 juin</b><br>
Olivier a désormais également accès à cette base.<br>
<br>
<b>Lundi 16 juin</b><br>
Il est désormais possible d'ajouter un contact du type activiste depuis la page du groupe activiste, un contact du type bénévole depuis la page des bénévoles, etc. Seuls les groupes définissants des champs ("field_group" coché dans la page du groupe) supportent cette fonctionnalité.<br>
<br>
<b>Dimanche 15 juin</b><br>
Petit formulaire sur la page d'accueil pour chercher rapidement un contact.<br>
<br>
<b>Jeudi 12 juin</b><br>
Tri de la liste des groupes par date.<br>
Lien google map sur la page détaillée d'un contact.<br>
<br>
<b>Mercredi 11 juin</b><br>
Lien "vcard" sur la page d'un groupe pour importer (copier) rapidement tout le groupe dans son carnet d'adresse local. Les modifications locales seront bien sûr locales, et donc pas répercutées sur la base de données.<br>
<br>
<b>Mardi 10 juin</b><br>
Début de la gestion de contacts invités dans un groupe, mais pas encore vraiment membre.
</div>
{% endif %}

{% endblock %}
