{% extends "base.html" %}

{% block nav %}
{{ block.super }}
› <a href=/{{ objtypename|escape }}s/>{{ objtypename|escape }}s</a>
{% endblock %}

{% block body %}
    {% include "query_entities.html" %}

    {% block submitbar %}
    <div id=submitbar>
      <a id=default href="/{{ objtypename|escape }}s/search"><!img src="/media/img/admin/selector-search.gif" border=0>Search</a>
      <a href="/{{ objtypename|escape }}s/add?default_group=2"><img src="/media/img/admin/icon_addlink.gif" border=0> Add a person</a>
      <a href="/{{ objtypename|escape }}s/add?default_group=4"><img src="/media/img/admin/icon_addlink.gif" border=0> Add a volunter</a>
      <a href="/{{ objtypename|escape }}s/add?default_group=5"><img src="/media/img/admin/icon_addlink.gif" border=0> Add an activist</a>
      <a href="/{{ objtypename|escape }}s/add?default_group=3"><img src="/media/img/admin/icon_addlink.gif" border=0> Add a company</a>
    </div>
    {% endblock %}
{% endblock %}
