{% extends "list.html" %}

{% block submitbar %}
<div id=submitbar>
  <a id=default href="{{ objtype.get_class_absolute_url }}search"><!img src="/media/img/admin/selector-search.gif" border=0>Search</a>
  <a href="{{ objtype.get_class_absolute_url }}add?default_group=2"><img src="/media/img/admin/icon_addlink.gif" border=0> Add a person</a>
  <a href="{{ objtype.get_class_absolute_url }}add?default_group=4"><img src="/media/img/admin/icon_addlink.gif" border=0> Add a volunter</a>
  <a href="{{ objtype.get_class_absolute_url }}add?default_group=5"><img src="/media/img/admin/icon_addlink.gif" border=0> Add an activist</a>
  <a href="{{ objtype.get_class_absolute_url }}add?default_group=3"><img src="/media/img/admin/icon_addlink.gif" border=0> Add a company</a>
</div>
{% endblock %}
