{% extends "base.html" %}
{% load ngwtags %}

{% block submenu %}
{% include "group_submenu.html" %}
{% endblock %}

{% block body %}
    {% for n in news %}
    <h1 class="boxheader"><a href="{{n.get_absolute_url}}">{{ n.title }}</a></h1>
    <div class=box>
    <b>{{ n.date|ngw_date_format}}</b> - by <a href="../members/{{ n.author.id}}/"> {{ n.author }}</a><br>
    {{ n.text|linebreaksbr }}<br>
    </div>
    {% endfor %}

    {% block submitbar %}
    <div id=submitbar>
    <a href="add"><img src="{{STATIC_URL}}admin/img/icon_addlink.gif" border=0> Add {{ objtype.get_class_verbose_name }}</a>
    </div>
    {% endblock %}
{% endblock %}
