{% extends "base.html" %}
{% load ngwtags %}

{% block body %}
    {% for n in news %}
    <h1 class="boxheader"><a href="{{n.get_absolute_url}}">{{ n.title }}</a></h1>
    <div class=box>
    <b>{{ n.date|date:"D d M Y" }}</b> - by <a href="../members/{{ n.author.id}}/"> {{ n.author }}</a><br>
    {{ n.text|autobr|safe }}<br>
    </div>
    {% endfor %}

    {% block submitbar %}
    <div id=submitbar>
    <a href="add"><img src="/media/img/admin/icon_addlink.gif" border=0> Add {{ objtype.get_class_verbose_name }}</a>
    </div>
    {% endblock %}
{% endblock %}
