{% extends "base.html" %}
{% load i18n %}
{% load ngwtags %}

{% block body %}
<form method="post">
{% csrf_token %}
	<div class=box>
{% blocktrans with name=contact.name %}
<p>You are about to generate a new password for user {{ name }}.
<p>That user will no longer be able to log in until he knows the new value.
{% endblocktrans %}
	</div>

    {% block submitbar %}
    <div id=submitbar>
      <input type=submit id=default value="{% trans "Reset password and make letter" %}">
    </div>
    {% endblock %}

</form>
{% endblock %}
