{% extends "base.html" %}
{% load ngwtags %}

{% block nav %}
{{ block.super }}
› <a href="{{ contact.get_class_absolute_url }}">{{ contact.get_class_verbose_name_plural }}</a>
› <a href="{{ contact.get_absolute_url }}">{{ contact.name }}</a>
› password
{% endblock %}

{% block body %}
<form method="post">
    <table class=objchange>
    <tr><td colspan=2>{{ currentaccess }}
    {{ form.as_table }}
    </table>

    {% block submitbar %}
    <div id=submitbar>
      <input type=submit id=default>
      <a href="{{ contact.get_absolute_url }}">Contact info</a>
    </div>
    {% endblock %}

</form>
{% endblock %}
