{% extends "base.html" %}
{% load ngwtags %}

{% block nav %}
{{ block.super }}
› <a href="/{{ objtypename }}s/">{{ objtypename }}s</a>
› <a href="/{{ objtypename }}s/{{ contact.id}}/">{{ contact.name }}</a>
› password
{% endblock %}

{% block body %}
<form method="post">
    <table class=objchange>
    <tr><td colspan=2>{{ currentaccess }}
    {{ form.as_table }}
    </table>

    {% block submitbar %}
    <div id=submitbar>
      <input type=submit id=default>
      <a href="/{{ objtypename }}s/{{ contact.id }}/">Contact info</a>
    </div>
    {% endblock %}

</form>
{% endblock %}
