<table class=objlist>
{% for o in values %}
{% if not forloop.counter0 %}
    <thead>
    {% for f in keys %}
    <th>{{ f }}
    {% endfor %}
    <tbody>
{% endif %}
<tr class=row{% cycle odd,even as oddity %}>
    {% for v in o %}
    {% if forloop.counter0 %}
        {% ifequal forloop.counter0 1 %}
        <td><a href="/{{ objtypename }}s/{{ o.0 }}/">{{ v }}</a>
        {% else %}
        <td>{{ v }}
        {% endifequal %}
    {% endif %}
    {% endfor %}
{% endfor %}
<tr class=row{% cycle oddity %} id=objsummary>
    <td colspan={{ keys|length }}> {{ values|length }} {{ objtypename }}{{ values|length|pluralize }}
    {% if totalcount and not values|length_is:totalcount %}
        selected out of {{ totalcount }}
    {% endif %}
</table>
