{% load i18n %}
{% comment %}
That file must be included in a full template.
Parameters:
    q: A query yielding tuple of entities
    cols: A list of 4-tuples: ("column name", entity number, "property or method NAME of the entity", "matching table column for sort")
    count: number of objects
    npages: number of pages
Optionnal parameters:
    sc: number of the column used to sort
    sr: 1 for reversed sort
    page: number of the page actually printed
{% endcomment %}

{% load ngwtags %}

<table id=objlist class=objlist>
{% for row in query %}
    {% if not forloop.counter0 %}
        <thead>
        <tr class=rowodd id=objsummary>
            <td colspan={{ cols|length }}>
            {% ifnotequal npages 1 %}
                {% blocktrans count npages=npages %}{{ npages }} page{% plural %}{{ npages }} pages{% endblocktrans %}
                {% for i in page|pagenumber_iterator:npages %}
                    {% ifnotequal page i %}
                    <a href={{baseurl}}&amp;_order={{order}}&amp;_page={{i}} style="border: solid 1px #999">
                    {% else %}
                    <span style="border: solid 1px #999; width: auto; background:#fce">
                    {% endifnotequal %}
                    <b>{{i}}</b>
                    {% ifnotequal page i %}
                    </a>
                    {% else %}
                    </span>
                    {% endifnotequal %}&nbsp;
                {% endfor %}
                -
            {% endifnotequal %}
            {% blocktrans count count=count %}{{ count }} result{% plural %}{{ count }} results{% endblocktrans %}
        <tr>
        {% for col in cols %}
            <th>
            {% if col|get_notnull:3 %}<a href="{{baseurl}}&amp;_order={% if order|order_absmatch:forloop.counter0 %}{% if not order|order_isreverted %}-{% endif %}{% endif  %}{{ forloop.counter0 }}">{% endif %}
            {{col|get:0}}
            {% if col|get_notnull:3 %}</a>{% endif %}
            {% if order|order_absmatch:forloop.counter0 %}{% if order|order_isreverted %} ▼{% else %} ▲{% endif %}{% endif %}
        {% endfor %}
        <tbody>
    {% endif %}
    <tr class=row{% cycle odd,even as oddity %}>
    {% for col in cols %}
        <td>{{row|ngw_display:col|safe}} <!-- TODO: check safe -->
    {% endfor %}
{% endfor %}
<tr class=row{% cycle oddity %} id=objsummary>
    <td colspan={{ cols|length }}>
    {% ifnotequal npages 1 %}
        {% blocktrans count npages=npages %}{{ npages }} page{% plural %}{{ npages }} pages{% endblocktrans %}
        {% for i in page|pagenumber_iterator:npages %}
            {% ifnotequal page i %}
            <a href={{baseurl}}&amp;_order={{order}}&amp;_page={{i}} style="border: solid 1px #999">
            {% else %}
            <span style="border: solid 1px #999; width: auto; background:#fce">
            {% endifnotequal %}
            <b>{{i}}</b>
            {% ifnotequal page i %}
            </a>
            {% else %}
            </span>
            {% endifnotequal %}&nbsp;
        {% endfor %}
        -
    {% endifnotequal %}
    {% blocktrans count count=count %}{{ count }} result{% plural %}{{ count }} results{% endblocktrans %}
</table>
