{% extends "base.html" %}

{% block nav %}
{{ block.super }}
› <a href="{{ objtype.get_class_absolute_url }}">{{ objtype.get_class_verbose_name_plural }}</a>
› search
{% endblock %}

{% block body %}
    <div id="filter_info" style="border: 1px solid #999; padding:1ex;">
    Current Filter:<br>
    {{ filter_html }}
    </div>
    <br>
    {% include "query_entities.html" %}

    {% block submitbar %}
    <div id=submitbar>
      <a id=default href="{{ objtype.get_class_absolute_url }}search">New search</a>
      {% comment %}
      <a href="javascript:alert('Not implemented yet!');">Create a group with selection</a>
      {% endcomment %}
    </div>
    {% endblock %}
{% endblock %}
