{% extends "base.html" %}

{% block nav %}
{{ block.super }}
› <a href="/{{ objtypename|escape }}s/">{{ objtypename|escape }}s</a>
› search
{% endblock %}

{% block body %}
{% comment %}{{ form.errors }}{% endcomment %}

<script>
{% for line in form.lines %}
{{ line.javascript_toggle_value }}
{% endfor %}
</script>

<form method=post>
<table class=objlist>
<colgroup>
<col width="0*">
<col width="20%">
<col width="0*">
<col>
<thead>
<tr>
<th>View
<th>Field
<th>Filter
<th>Value
<tbody>
{% for line in form.lines %}
<tr class=row{% cycle odd,even as oddity %}>{{ line.as_html }}
{% endfor %}
</table>

<script>
function select_all() {
    {% for line in form.lines %}
    document.forms[0]["{{ line.name }}"].checked = 1;
    {% endfor %}
}
</script>

<a href="javascript:select_all()">Select all</a>

    {% block submitbar %}
    <div id=submitbar>
    <input type=submit value="Search" id="default">
    </div>
    {% endblock %}

</form>
<script>
    {% for line in form.lines %}
    toggle_value_{{ line.name }}();
    {% endfor %}
</script>


{% endblock %}
