{% extends "base.html" %}

{% block nav %}
{{ block.super }}
› <a href="{{ objtype.get_class_absolute_url }}">{{ objtype.get_class_verbose_name_plural }}</a>
› search
{% endblock %}

{% block body %}
<script>
ALLOW_ERROR_MESSAGE=true;

function get_XMLHttpRequest() {
    if(window.XMLHttpRequest)
        try {
            return new XMLHttpRequest();
        } catch(e) {}
    alert("ERROR: Your browser doesn't support XMLHttpRequest! Get a real browser please.");
    return null;
}

function ajax_load_innerhtml(element_id, url) {
    req = get_XMLHttpRequest();
    if (!req)
        return;
    document.getElementById(element_id).innerHTML = "<img src='{{MEDIA_URL}}/loading.gif' align=middle> L O A D I N G . . . ";
    req.element_id = element_id;
    req.onreadystatechange = function () {
        if (this.readyState == 4) {
            if (this.status==200 || ALLOW_ERROR_MESSAGE)
                document.getElementById(this.element_id).innerHTML = this.responseText;
            else
                alert("There was a problem retrieving the XML data:\n" + this.statusText);
        }
    };
    req.open("GET", url, true);
    req.send("");
}

function escape_quote(str) {
/* TODO: Add \ before any \ or ' */
    return "'"+str+"'";
}

/*
function debug(DFGHJ) {
    document.getElementById("curent_filter").innerHTML += document.getElementById("filter_group_field");
    for (x in document.getElementById("filter_group_field")) {
        document.getElementById("curent_filter").innerHTML += x;
        document.getElementById("curent_filter").innerHTML += "=&gt;";
        document.getElementById("curent_filter").innerHTML += document.getElementById("filter_group_field")[x];
        document.getElementById("curent_filter").innerHTML += "<br>";
    }
}
*/

var cur_grouptype=null;
var cur_field=null;
var cur_filtername=null;
var add_another_filter=false;

function select_grouptype(type) {
    select_field(null);
    ajax_load_innerhtml("list_field", "/contacts/search/fields/"+type);
    if (cur_grouptype)
        document.getElementById("filter_group_"+cur_grouptype).className = "";
    document.getElementById("filter_group_"+type).className = "activeSelectionItem";
    cur_grouptype = type;
}

function select_field(field) {
    select_filtername(null);
    if (field)
        ajax_load_innerhtml("list_filters", "/contacts/search/filters/"+field);
    else
        document.getElementById("list_filters").innerHTML="";
    if (cur_field)
        document.getElementById("field_"+cur_field).className = "";
    if (field)
        document.getElementById("field_"+field).className = "activeSelectionItem";
    cur_field = field;
}

function select_filtername(filtername) {
    previous_filter = document.getElementById('filter').value;
    if (filtername)
        ajax_load_innerhtml("filter_param", "/contacts/search/params/"+cur_field+"/"+filtername+"?previous_filter="+previous_filter);
    else
        document.getElementById("filter_param").innerHTML="";

    if (cur_filtername)
        document.getElementById("filter_"+cur_filtername).className = "";
    if (filtername)
        document.getElementById("filter_"+filtername).className = "activeSelectionItem";
    cur_filtername = filtername;
}

function set_filter(newfilter) {
    document.getElementById('filter').value=newfilter;
    ajax_load_innerhtml('curent_filter','/contacts/search/filter_to_html?'+newfilter);
}
</script>

<style>
.activeSelectionItem {
    font-size:140%;
    font-weight:bold;
}
</style>

<div style="border: 1px solid #999; padding:1ex;">
Type of filter:
<a href="javascript:select_grouptype('field')" id="filter_group_field">Field</a> |
<a href="javascript:select_grouptype('group')" id="filter_group_group">Group</a> |
<a href="javascript:select_grouptype('event')" id="filter_group_event">Event</a>
</div>

<br>

<div id="list_field" style="border: 1px solid #999; padding:1ex;">
{{message}}
</div>

<br>

<div id="list_filters" style="border: 1px solid #999; padding:1ex;">
</div>

<br>

<div id="filter_param" style="border: 1px solid #999; padding:1ex;">
</div>


<h1 class="boxheader">Current filter</h1>
<div id=submitbar>
    <div id="curent_filter" style="text-align:left;">
    </div>
    <form id="search_form">
    <div style="text-align:left; display:none;">Internal representation of filter:</div>
    <input type=hidden id="filter" name="filter" value="{{strfilter}}">
    <input type=submit value="Launch search" id=default>
    <input type=hidden name=runfilter value=1>
    <a href="javascript:set_filter('')">Reset filter</a>
    </form>
</div>
<script>
newfilter=document.getElementById('filter').value;
ajax_load_innerhtml('curent_filter', '/contacts/search/filter_to_html?'+newfilter);
</script>

{% endblock %}
