{% extends "base.html" %}
{% load i18n %}
{% load ngwtags %}
{% block body %}

<form>
<table class=objchange>
<tr><th>Group
<td>
<select multiple="multiple" size=4 name="groups" id="id_groups">
<option value="4">G4</option>
<option value="5" selected="selected">G5</option>
<option value="6">G6</option>
<option value="7">G7</option>
<option value="8">G8</option>
<option value="9">G9</option>
<option value="15">G15</option>
<option value="19" selected="selected">G19</option>
<option value="20">G20</option>
<option value="21" selected="selected">G21</option>
<option value="25">G25</option>
</select>
</tr>
</table>
<div id=submitbar>
<input type=submit>
</div>
</form>
<script>
SelectFilter.init("id_groups", "Groups", 0, '{{STATIC_URL}}admin/');
</script>
{{form.media}}
<a href="https://logout@{{ request.META.HTTP_HOST }}/logout">logout</a><br>
STATIC_URL: {{STATIC_URL}}
{% endblock %}
