{% extends "base.html" %}
{% load ngwtags %}

{% block nav %}
{{ block.super }}
› <a href="{{cf.get_class_absolute_url}}">{{ cf.get_class_verbose_name_plural }}</a>
› <a href="{{cf.get_absolute_url}}">{{ cf }}</a>
› delete incompatible data

{% endblock %}

{% block body %}
<form method=post>
<input type=hidden name=id value="{{id}}">
<input type=hidden name=name value="{{name}}">
<input type=hidden name=hint value="{{hint}}">
<input type=hidden name=contact_group value="{{contact_group}}">
<input type=hidden name=type value="{{type}}">
<input type=hidden name=choicegroup value="{{choicegroup}}">
<input type=hidden name=move_after value="{{move_after}}">
You are about to change the {{ cf.get_class_verbose_name }} {{ cf.name }}. However, some existing data is not compatible with the new type you selected. The only choice is to delete these records.
<p>The following data will be deleted:
<p>{% for deletion_detail in deletion_details %}
    {{ deletion_detail|get:0 }}: {{ deletion_detail|get:1 }}<br>
{% endfor %}
    {% block submitbar %}
    <div id=submitbar>
    <a id=default href="javascript:history.back()">Back</a>
    <input type=submit name=confirm value="Delete incompatible data">
    </div>
    {% endblock %}
</form>
{% endblock %}
